# Xiaotang Chai--xiaotangchai--4691635851

In [1]:
import pandas as pd
import numpy as np
import csv
import os

In [2]:
df_bending1 = pd.DataFrame(columns=['# Columns: time', 'avg_rss12', 'var_rss12', 'avg_rss13','avg_rss23','var_rss23'])
frame=[]
for info in os.listdir('/Users/chaixiaotang/Documents/GitHub/homework-3-xiaotangchai/Data/AReM/bending1'):
    domain = os.path.abspath(r'/Users/chaixiaotang/Documents/GitHub/homework-3-xiaotangchai/Data/AReM/bending1') 
    info = os.path.join(domain,info)  
    data = pd.read_csv(info,skiprows=4)
    df=pd.DataFrame(data)
    frame.append(df)
bending1=pd.concat(frame)
print(bending1)

     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      42.00       0.00      18.50       0.50      12.00
1                250      42.00       0.00      18.00       0.00      11.33
2                500      42.75       0.43      16.75       1.79      18.25
3                750      42.50       0.50      16.75       0.83      19.00
4               1000      43.00       0.82      16.25       0.83      18.00
..               ...        ...        ...        ...        ...        ...
475           118750      42.50       0.50      20.00       0.82      36.00
476           119000      42.67       0.47      21.00       0.00      36.33
477           119250      44.33       0.94      21.00       0.00      36.33
478           119500      45.25       0.43      26.75       1.79      36.00
479           119750      47.25       0.83      29.75       0.43      35.25

     var_rss23
0         0.00
1         0.94
2         0.43
3         1.22
4         0.00
..         ...
475       0.00
476       0.47
477       0.47
478       0.00
479       1.30

[3360 rows x 7 columns]

In [3]:
bending1.reset_index(drop=True, inplace=True)
bending1

,# Columns: time,avg_rss12,var_rss12,avg_rss13,var_rss13,avg_rss23,var_rss23
0,0,42.00,0.00,18.50,0.50,12.00,0.00
1,250,42.00,0.00,18.00,0.00,11.33,0.94
2,500,42.75,0.43,16.75,1.79,18.25,0.43
3,750,42.50,0.50,16.75,0.83,19.00,1.22
4,1000,43.00,0.82,16.25,0.83,18.00,0.00
...,...,...,...,...,...,...,...
3355,118750,42.50,0.50,20.00,0.82,36.00,0.00
3356,119000,42.67,0.47,21.00,0.00,36.33,0.47
3357,119250,44.33,0.94,21.00,0.00,36.33,0.47
3358,119500,45.25,0.43,26.75,1.79,36.00,0.00
3359,119750,47.25,0.83,29.75,0.43,35.25,1.30

In [4]:
df_bending2 = pd.DataFrame(columns=['# Columns: time', 'avg_rss12', 'var_rss12', 'avg_rss13','avg_rss23','var_rss23'])
frame=[]
for info in os.listdir('/Users/chaixiaotang/Documents/GitHub/homework-3-xiaotangchai/Data/AReM/bending2'):
    domain = os.path.abspath(r'/Users/chaixiaotang/Documents/GitHub/homework-3-xiaotangchai/Data/AReM/bending2') 
    info = os.path.join(domain,info)  
    data = pd.read_csv(info,skiprows=4)
    df=pd.DataFrame(data)
    frame.append(df)
    print(data)
bending2=pd.concat(frame)
print(bending2)

     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      34.50       1.50       8.00       1.58      28.00
1                250      36.00       0.00      11.25       3.49      28.50
2                500      36.00       0.00      20.00       1.22      27.00
3                750      38.25       0.43      21.25       0.43      26.00
4               1000      37.50       1.12      22.00       0.82      23.67
..               ...        ...        ...        ...        ...        ...
475           118750      27.00       0.00      14.00       0.00       6.50
476           119000      27.00       0.00      15.00       0.00       4.00
477           119250      27.00       0.00      14.25       0.83       4.00
478           119500      27.00       0.00      13.33       1.25       1.50
479           119750      26.50       0.50      15.00       0.00       3.00

     var_rss23
0         0.71
1         0.50
2         0.71
3         0.71
4         2.49
..         ...
475       0.50
476       1.00
477       2.00
478       0.50
479       0.00

[480 rows x 7 columns]
     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      32.50       0.50       0.00       0.00      19.00
1                250      32.50       0.50       0.00       0.00      18.50
2                500      32.75       0.43       1.00       0.00      18.00
3                750      32.50       0.50       0.00       0.00      17.50
4               1000      32.50       0.50       7.50       0.50      17.50
..               ...        ...        ...        ...        ...        ...
475           118750      28.67       0.47       4.67       1.25      17.33
476           119000      27.50       0.50       5.50       2.50      17.25
477           119250      28.00       0.00       6.67       0.94      17.00
478           119500      28.00       0.00       5.00       0.82      17.00
479           119750      28.00       0.00       0.00       0.00      17.00

     var_rss23
0         1.00
1         0.50
2         0.00
3         0.50
4         0.87
..         ...
475       0.47
476       1.30
477       1.00
478       0.71
479       1.00

[480 rows x 7 columns]
     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      28.00       0.00       0.00       0.00      17.25
1                250      29.00       0.00       0.00       0.00      17.33
2                500      28.67       0.47       0.00       0.00      17.00
3                750      29.00       0.00       3.00       2.00      17.67
4               1000      29.00       0.00       3.33       0.47      18.00
..               ...        ...        ...        ...        ...        ...
475           118750      36.00       0.00      18.00       0.00      27.75
476           119000      36.25       0.43      14.50       2.87      27.00
477           119250      36.00       0.00       8.67       2.49      27.00
478           119500      36.80       0.98      13.00       0.63      27.75
479           119750      35.00       1.41       7.00       2.00      27.50

     var_rss23
0         0.83
1         0.94
2         0.82
3         0.47
4         1.00
..         ...
475       0.43
476       0.71
477       0.00
478       0.43
479       0.50

[480 rows x 7 columns]
     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      23.75       0.43      24.00       0.00      24.67
1                250      22.67       0.94      24.00       0.00      24.67
2                500      21.33       0.47      24.00       0.00      24.75
3                750      21.00       0.00      24.00       0.00      25.25
4               1000      23.00       0.71      23.75       0.43      24.75
..               ...        ...        ...        ...        ...        ...
475           118750      27.50       0.50      22.75       1.30      21.00
476           119000      27.00       0.00      21.00       0.00      20.75
477           119250      27.00       0.00      21.00       0.00      20.50
478           119500      27.25       0.43      23.50       0.87      20.75
479           119750      27.00       0.00      24.00       0.00      19.25

     var_rss23
0         0.47
1         0.94
2         0.83
3         1.09
4         0.83
..         ...
475       0.00
476       1.09
477       0.50
478       0.43
479       0.83

[480 rows x 7 columns]
     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      27.00       0.00      24.00       0.00      19.00
1                250      27.00       0.00      24.00       0.00      19.75
2                500      27.00       0.00      23.50       0.50      20.00
3                750      27.00       0.00      24.00       0.00      14.75
4               1000      27.00       0.00      23.75       0.43      14.50
..               ...        ...        ...        ...        ...        ...
475           118750      23.00       0.71      11.25       2.49      26.75
476           119000      22.25       0.43      15.50       0.87      29.50
477           119250      23.75       0.43      17.67       0.47      25.67
478           119500      24.25       0.43      13.33       1.25      30.00
479           119750      25.33       0.47      14.75       1.09      25.33

     var_rss23
0         1.00
1         0.83
2         1.22
3         1.48
4         1.50
..         ...
475       1.92
476       1.50
477       3.09
478       2.45
479       3.68

[480 rows x 7 columns]
     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      24.50       0.50      15.50       0.87      26.00
1                250      25.00       0.00      13.50       3.64      33.50
2                500      26.00       0.71      14.25       3.90      18.50
3                750      24.33       0.47      15.67       2.62      25.50
4               1000      23.50       0.87      16.25       1.30      23.00
..               ...        ...        ...        ...        ...        ...
475           118750      33.00       0.00       1.25       0.43      19.00
476           119000      33.00       0.00       3.75       0.83      19.00
477           119250      33.00       0.00       5.25       1.30      18.50
478           119500      32.75       0.43       2.50       0.50      19.25
479           119750      32.67       0.47       2.00       1.00      19.00

     var_rss23
0         2.74
1         2.60
2        13.61
3         3.64
4         1.22
..         ...
475       1.00
476       1.00
477       0.50
478       0.83
479       1.00

[480 rows x 7 columns]
     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      34.50       1.50       8.00       1.58      28.00
1                250      36.00       0.00      11.25       3.49      28.50
2                500      36.00       0.00      20.00       1.22      27.00
3                750      38.25       0.43      21.25       0.43      26.00
4               1000      37.50       1.12      22.00       0.82      23.67
..               ...        ...        ...        ...        ...        ...
475           118750      33.00       0.00       1.25       0.43      19.00
476           119000      33.00       0.00       3.75       0.83      19.00
477           119250      33.00       0.00       5.25       1.30      18.50
478           119500      32.75       0.43       2.50       0.50      19.25
479           119750      32.67       0.47       2.00       1.00      19.00

     var_rss23
0         0.71
1         0.50
2         0.71
3         0.71
4         2.49
..         ...
475       1.00
476       1.00
477       0.50
478       0.83
479       1.00

[2880 rows x 7 columns]

In [5]:
bending2.reset_index(drop=True, inplace=True)
bending2

,# Columns: time,avg_rss12,var_rss12,avg_rss13,var_rss13,avg_rss23,var_rss23
0,0,34.50,1.50,8.00,1.58,28.00,0.71
1,250,36.00,0.00,11.25,3.49,28.50,0.50
2,500,36.00,0.00,20.00,1.22,27.00,0.71
3,750,38.25,0.43,21.25,0.43,26.00,0.71
4,1000,37.50,1.12,22.00,0.82,23.67,2.49
...,...,...,...,...,...,...,...
2875,118750,33.00,0.00,1.25,0.43,19.00,1.00
2876,119000,33.00,0.00,3.75,0.83,19.00,1.00
2877,119250,33.00,0.00,5.25,1.30,18.50,0.50
2878,119500,32.75,0.43,2.50,0.50,19.25,0.83
2879,119750,32.67,0.47,2.00,1.00,19.00,1.00

In [6]:
df_cycling = pd.DataFrame(columns=['# Columns: time', 'avg_rss12', 'var_rss12', 'avg_rss13','avg_rss23','var_rss23'])
frame=[]
for info in os.listdir('/Users/chaixiaotang/Documents/GitHub/homework-3-xiaotangchai/Data/AReM/cycling'):
    domain = os.path.abspath(r'/Users/chaixiaotang/Documents/GitHub/homework-3-xiaotangchai/Data/AReM/cycling') 
    info = os.path.join(domain,info)  
    data = pd.read_csv(info,skiprows=4)
    df=pd.DataFrame(data)
    frame.append(df)
    print(data)
cycling1=pd.concat(frame)
print(cycling1)

     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      32.50       3.50       9.75       2.28      18.50
1                250      39.00       0.82      11.33       4.92      16.50
2                500      42.50       0.50      17.75       2.68      19.67
3                750      35.75       6.26      12.67       1.70      13.75
4               1000      34.50       1.50      14.50       1.66      10.75
..               ...        ...        ...        ...        ...        ...
475           118750      40.25       2.49      13.75       2.68      19.25
476           119000      37.00       1.22      20.50       1.50      15.25
477           119250      34.75       2.17      22.50       1.50      16.50
478           119500      34.75       5.80      21.00       2.12      16.33
479           119750      35.50       1.50      15.00       2.45      20.00

     var_rss23
0         1.66
1         0.50
2         3.09
3         8.23
4         6.91
..         ...
475       1.79
476       7.73
477       5.02
478       4.64
479       2.74

[480 rows x 7 columns]
     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      37.00       1.00      20.00       6.16      21.25
1                250      34.33       2.36      20.25      10.57      11.67
2                500      31.00       3.56      18.67       2.49      18.50
3                750      36.75       2.86      13.75       2.86      19.50
4               1000      42.00       0.71      13.25       2.05      19.00
..               ...        ...        ...        ...        ...        ...
475           118750      41.25       1.92      11.67       6.94      16.67
476           119000      43.25       0.83      10.67       4.50      18.50
477           119250      35.25       4.44      12.60       1.36      11.80
478           119500      35.25       1.30      16.00       0.82      16.33
479           119750      35.50       4.61      16.25       2.05      15.67

     var_rss23
0         2.17
1         1.25
2         2.60
3         1.50
4         1.87
..         ...
475       2.62
476       1.80
477       7.68
478       3.09
479       1.70

[480 rows x 7 columns]
     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      40.50       2.60      17.25       3.90      15.50
1                250      35.50       1.50      19.75       1.30      18.50
2                500      35.25       1.30      13.67       6.13      18.50
3                750      35.25       3.90      14.75       3.27      21.25
4               1000      32.25       2.49      10.67       6.60      15.50
..               ...        ...        ...        ...        ...        ...
475           118750      36.00       3.67      19.75       2.05      21.50
476           119000      31.75       1.09      20.67       1.89      14.00
477           119250      37.67       5.44      18.50       1.50      13.00
478           119500      34.67       5.44      17.00       1.00      15.25
479           119750      40.50       1.12      17.75       2.38      17.50

     var_rss23
0         3.28
1         3.77
2         0.50
3         1.79
4         4.39
..         ...
475       2.18
476       3.74
477       4.55
478       4.44
479       1.50

[480 rows x 7 columns]
     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      39.33       2.36      15.00       4.24      13.50
1                250      33.00       2.45      20.25       1.92      18.67
2                500      31.50       5.59      19.00       4.97      19.50
3                750      34.50       4.72      14.00       5.89      16.00
4               1000      39.00       1.58      14.67       3.68      19.50
..               ...        ...        ...        ...        ...        ...
475           118750      36.00       4.24      15.50       8.20      17.00
476           119000      34.00       2.12      22.50       4.50      16.00
477           119250      33.25       6.57      20.00       3.74      22.67
478           119500      39.50       1.50      17.75       1.79      16.25
479           119750      41.75       0.43      12.67       2.36      17.33

     var_rss23
0         3.20
1         0.47
2         0.50
3         4.58
4         1.50
..         ...
475       3.67
476       1.87
477       0.94
478       1.79
479       2.05

[480 rows x 7 columns]
     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      32.00       4.85      17.50       3.35      22.50
1                250      40.50       1.12      14.00       2.24      21.75
2                500      40.50       2.60      11.33       4.50      18.25
3                750      34.50       1.50      20.67       2.87      19.00
4               1000      34.50       1.50      21.25       3.27      18.25
..               ...        ...        ...        ...        ...        ...
475           118750      38.00       2.55      18.25       2.17      20.00
476           119000      36.00       0.00      19.00       1.41      13.67
477           119250      37.00       1.73      17.75       0.43      22.50
478           119500      37.00       3.74      19.00       4.18      22.00
479           119750      38.75       1.92      16.75       3.49      21.00

     var_rss23
0         3.20
1         1.30
2         5.31
3         2.83
4         4.38
..         ...
475       4.74
476       1.25
477       0.87
478       1.41
479       3.67

[480 rows x 7 columns]
     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      41.75       1.79       8.75       6.87      23.25
1                250      39.50       3.57      15.00       0.00      19.25
2                500      35.00       1.41      19.33       1.25      19.50
3                750      36.00       0.00      18.50       0.50      21.25
4               1000      33.33       2.87      20.25       1.79      23.75
..               ...        ...        ...        ...        ...        ...
475           118750      42.33       0.47       6.67       3.77      20.33
476           119000      43.00       1.41      11.67       2.49      14.00
477           119250      36.75       1.09      16.75       3.03      21.50
478           119500      36.33       0.47      20.33       2.05      20.50
479           119750      35.25       1.30      16.50       1.12      22.75

     var_rss23
0         0.83
1         3.27
2         3.20
3         4.76
4         0.43
..         ...
475       0.47
476       5.10
477       2.60
478       2.18
479       2.17

[480 rows x 7 columns]
     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      35.50       3.84      19.75       2.77      20.25
1                250      33.50      12.99      16.50       4.72      22.50
2                500      42.00       0.00       9.00       3.67      20.25
3                750      41.50       1.50      12.33       0.47      18.00
4               1000      35.25       2.49      19.50       3.35      24.25
..               ...        ...        ...        ...        ...        ...
475           118750      36.50       1.50      15.67       9.74      20.50
476           119000      36.00       0.00      23.25       1.30      17.00
477           119250      32.33       5.56      15.33       3.77      14.50
478           119500      32.00       5.87      12.25       2.17      14.50
479           119750      38.00       2.12      16.50       3.20      11.25

     var_rss23
0         3.27
1         1.50
2         1.30
3         2.45
4         0.43
..         ...
475       2.87
476       1.63
477       4.82
478       2.87
479       5.80

[480 rows x 7 columns]
     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      41.25       1.30       8.50       1.12      20.75
1                250      44.00       1.41      12.67       2.36      17.25
2                500      35.25       4.32      14.00       4.55      17.25
3                750      33.00       2.12      17.00       1.41      15.00
4               1000      35.25       5.89      16.25       3.03      14.75
..               ...        ...        ...        ...        ...        ...
475           118750      42.25       1.09      12.50       3.28      12.00
476           119000      34.50       4.97      18.25       6.57      22.50
477           119250      31.75       1.30      23.50       1.50      16.25
478           119500      31.00       3.24      15.50       4.92      14.75
479           119750      38.75       1.64      16.33       5.91      12.33

     var_rss23
0         0.83
1         2.86
2         3.70
3         4.55
4         5.63
..         ...
475       5.20
476       2.60
477       2.95
478       3.70
479       1.25

[480 rows x 7 columns]
     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      42.00       0.00      14.50       3.50      18.75
1                250      40.67       1.25      13.25       3.70      15.33
2                500      36.00       2.45      24.00       0.82      22.00
3                750      34.50       1.50      20.75       5.07      13.50
4               1000      32.50       4.61      21.00       2.45      15.67
..               ...        ...        ...        ...        ...        ...
475           118750      32.50       2.29      21.50       2.29      18.67
476           119000      31.75       6.50      19.75       4.26      13.00
477           119250      40.00       1.22      20.00       3.67      21.50
478           119500      43.50       1.12      16.25       2.49      18.33
479           119750      38.75       3.49      16.00       7.48      21.50

     var_rss23
0         2.49
1         4.03
2         2.74
3         3.35
4         4.11
..         ...
475       1.70
476       7.07
477       6.18
478       4.50
479       2.87

[480 rows x 7 columns]
     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      34.50       4.39      19.50       3.20      18.00
1                250      36.00       3.08      15.00       5.20      12.00
2                500      42.75       0.83      10.00       4.55       9.25
3                750      40.00       2.83      17.67       1.89      14.25
4               1000      34.25       3.03      14.25       5.36      20.00
..               ...        ...        ...        ...        ...        ...
475           118750      36.75       2.86      20.75       4.55      15.25
476           119000      38.75       1.09      18.25       4.92      20.25
477           119250      42.50       0.87      12.50       4.15      15.75
478           119500      36.25       3.90      19.00       3.74      23.67
479           119750      29.75       4.60      22.25       4.26      20.50

     var_rss23
0         3.54
1         3.56
2         2.38
3         1.92
4         1.22
..         ...
475       3.77
476       2.59
477       5.76
478       2.49
479       2.87

[480 rows x 7 columns]
     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      33.50       2.87      27.00       1.87      14.75
1                250      30.50       4.50      20.67       4.03      17.00
2                500      34.25       3.03      15.75       4.92      17.25
3                750      42.00       2.55      16.00       2.74      19.75
4               1000      42.00       2.83      19.50       2.06      13.75
..               ...        ...        ...        ...        ...        ...
475           118750      34.75       2.17      17.75       1.92      19.00
476           119000      39.00       3.00      14.00       3.27      15.00
477           119250      40.25       4.26      16.33       3.68      14.33
478           119500      32.00       5.74      17.75       4.44      18.75
479           119750      34.00       9.27      22.50       1.50      17.67

     var_rss23
0         9.39
1         0.82
2         2.49
3         1.09
4         5.17
..         ...
475       3.67
476       2.45
477       3.86
478       5.31
479       2.49

[480 rows x 7 columns]
     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      32.00       4.85      17.50       3.35      22.50
1                250      40.50       1.12      14.00       2.24      21.75
2                500      40.50       2.60      11.33       4.50      18.25
3                750      34.50       1.50      20.67       2.87      19.00
4               1000      34.50       1.50      21.25       3.27      18.25
..               ...        ...        ...        ...        ...        ...
475           118750      38.00       2.55      18.25       2.17      20.00
476           119000      36.00       0.00      19.00       1.41      13.67
477           119250      37.00       1.73      17.75       0.43      22.50
478           119500      37.00       3.74      19.00       4.18      22.00
479           119750      38.75       1.92      16.75       3.49      21.00

     var_rss23
0         3.20
1         1.30
2         5.31
3         2.83
4         4.38
..         ...
475       4.74
476       1.25
477       0.87
478       1.41
479       3.67

[480 rows x 7 columns]
     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      35.75       1.79      21.00       2.45      20.50
1                250      38.75       1.48      17.00       4.32      19.67
2                500      41.67       0.47      15.75       5.12      20.33
3                750      41.67       0.47      12.00       3.67      15.00
4               1000      35.00       2.83      21.67       5.56      27.00
..               ...        ...        ...        ...        ...        ...
475           118750      35.00       3.00      21.50       2.50      15.75
476           119000      40.25       2.49      19.75       3.27      21.50
477           119250      41.50       0.87      12.75       4.44      17.75
478           119500      33.33       6.18      15.50       3.77      17.00
479           119750      34.00       2.12      24.50       1.80      22.25

     var_rss23
0         0.50
1         2.05
2         5.19
3         7.07
4         2.12
..         ...
475       7.76
476       2.29
477       2.38
478       4.32
479       2.59

[480 rows x 7 columns]
     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      40.25       1.48      15.50       3.91      20.00
1                250      42.25       0.43      15.33       2.49      16.00
2                500      35.25       4.44      14.00       4.32      17.25
3                750      33.75       2.49      19.50       2.06      18.25
4               1000      35.00       3.16      18.75       5.67      15.00
..               ...        ...        ...        ...        ...        ...
475           118750      40.50       1.50      17.25       2.59      16.75
476           119000      36.00       4.74      11.67       2.87      15.50
477           119250      34.50       1.50      18.50       2.18      18.75
478           119500      32.25       4.97      13.75       4.60      14.50
479           119750      35.75       1.79      11.75       5.07      18.00

     var_rss23
0         1.22
1         1.63
2         4.82
3         1.79
4         2.12
..         ...
475       3.11
476       3.57
477       2.49
478       1.80
479       3.08

[480 rows x 7 columns]
     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      41.67       0.47      17.67       2.87      14.50
1                250      42.00       2.12       9.67       6.34      14.75
2                500      35.75       1.79      13.75       3.03      18.50
3                750      34.25       4.02      17.75       1.09      16.25
4               1000      36.50       4.33      14.75       1.09      12.67
..               ...        ...        ...        ...        ...        ...
475           118750      41.75       1.79      11.00       6.00      16.67
476           119000      36.33       0.47      16.00       3.16      20.33
477           119250      31.50       1.50      21.00       0.00      12.25
478           119500      34.25       6.38      12.67       2.49      15.25
479           119750      38.33       0.94      15.25       2.17      20.33

     var_rss23
0         2.06
1         2.49
2         4.09
3         3.70
4         4.92
..         ...
475       2.49
476       1.70
477       7.12
478       4.21
479       1.25

[480 rows x 7 columns]
     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      32.50       3.50       9.75       2.28      18.50
1                250      39.00       0.82      11.33       4.92      16.50
2                500      42.50       0.50      17.75       2.68      19.67
3                750      35.75       6.26      12.67       1.70      13.75
4               1000      34.50       1.50      14.50       1.66      10.75
..               ...        ...        ...        ...        ...        ...
475           118750      41.75       1.79      11.00       6.00      16.67
476           119000      36.33       0.47      16.00       3.16      20.33
477           119250      31.50       1.50      21.00       0.00      12.25
478           119500      34.25       6.38      12.67       2.49      15.25
479           119750      38.33       0.94      15.25       2.17      20.33

     var_rss23
0         1.66
1         0.50
2         3.09
3         8.23
4         6.91
..         ...
475       2.49
476       1.70
477       7.12
478       4.21
479       1.25

[7200 rows x 7 columns]

In [7]:
cycling1.reset_index(drop=True, inplace=True)
cycling1

,# Columns: time,avg_rss12,var_rss12,avg_rss13,var_rss13,avg_rss23,var_rss23
0,0,32.50,3.50,9.75,2.28,18.50,1.66
1,250,39.00,0.82,11.33,4.92,16.50,0.50
2,500,42.50,0.50,17.75,2.68,19.67,3.09
3,750,35.75,6.26,12.67,1.70,13.75,8.23
4,1000,34.50,1.50,14.50,1.66,10.75,6.91
...,...,...,...,...,...,...,...
7195,118750,41.75,1.79,11.00,6.00,16.67,2.49
7196,119000,36.33,0.47,16.00,3.16,20.33,1.70
7197,119250,31.50,1.50,21.00,0.00,12.25,7.12
7198,119500,34.25,6.38,12.67,2.49,15.25,4.21
7199,119750,38.33,0.94,15.25,2.17,20.33,1.25

In [8]:
df_lying = pd.DataFrame(columns=['# Columns: time', 'avg_rss12', 'var_rss12', 'avg_rss13','avg_rss23','var_rss23'])
frame=[]
for info in os.listdir('/Users/chaixiaotang/Documents/GitHub/homework-3-xiaotangchai/Data/AReM/lying'):
    domain = os.path.abspath(r'/Users/chaixiaotang/Documents/GitHub/homework-3-xiaotangchai/Data/AReM/lying') 
    info = os.path.join(domain,info)  
    data = pd.read_csv(info,skiprows=4)
    df=pd.DataFrame(data)
    frame.append(df)
    print(data)
lying1=pd.concat(frame)
print(lying1)

     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      39.50       0.50       4.33       1.25      12.00
1                250      39.50       0.50       7.00       0.00      12.33
2                500      39.50       0.50       6.33       2.49      11.75
3                750      39.67       0.47       8.75       1.30      12.67
4               1000      39.50       0.50       5.00       0.71      11.75
..               ...        ...        ...        ...        ...        ...
475           118750      39.50       0.50       3.00       0.00      18.00
476           119000      39.67       0.47       3.00       0.00      17.67
477           119250      39.00       0.00       2.00       0.00      18.00
478           119500      39.00       0.00       2.00       0.00      18.00
479           119750      39.00       0.00       2.00       0.00      18.00

     var_rss23
0         0.00
1         0.47
2         0.43
3         0.47
4         0.43
..         ...
475       0.00
476       0.47
477       0.00
478       0.00
479       0.00

[480 rows x 7 columns]
     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      39.67       0.47       8.75       0.43      14.67
1                250      39.67       0.47       8.75       0.43      14.67
2                500      39.33       0.47       8.00       0.82      14.25
3                750      39.67       0.47       7.50       0.50      13.67
4               1000      39.33       0.47       9.00       0.00      13.50
..               ...        ...        ...        ...        ...        ...
475           118750      39.50       0.50       6.75       2.49      12.75
476           119000      39.25       0.43       9.75       0.43      12.50
477           119250      39.50       0.50       9.75       0.43      12.75
478           119500      39.67       0.47       9.50       0.50      13.33
479           119750      39.50       0.50       9.00       0.00      12.67

     var_rss23
0         0.47
1         0.47
2         0.43
3         1.25
4         0.50
..         ...
475       0.83
476       0.50
477       0.83
478       0.94
479       0.47

[480 rows x 7 columns]
     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      48.00       0.00       9.00       0.00       9.25
1                250      48.00       0.00       9.00       0.00       9.50
2                500      48.00       0.00      10.00       0.71      10.00
3                750      48.00       0.00       9.50       0.50       9.50
4               1000      48.00       0.00      10.00       0.00      10.00
..               ...        ...        ...        ...        ...        ...
475           118750      39.33       0.47      12.00       0.00       0.00
476           119000      40.25       0.43      12.00       0.00       1.00
477           119250      39.75       0.83      12.00       0.00       0.00
478           119500      40.25       0.83      12.00       0.00       0.00
479           119750      39.75       0.83      12.25       0.43       1.00

     var_rss23
0         0.43
1         0.50
2         0.71
3         0.50
4         1.00
..         ...
475       0.00
476       0.00
477       0.00
478       0.00
479       0.00

[480 rows x 7 columns]
     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      39.50       0.50      12.00       0.00       0.00
1                250      39.75       0.83      13.00       0.00       0.00
2                500      40.00       1.00      12.67       0.47       0.00
3                750      40.00       0.71      12.50       0.50       1.00
4               1000      40.00       0.82      12.50       0.87       1.50
..               ...        ...        ...        ...        ...        ...
475           118750      39.50       0.50       8.25       0.83      13.25
476           119000      39.67       0.47       6.00       0.00      13.50
477           119250      39.50       0.50       7.60       0.49      13.50
478           119500      39.50       0.50       8.33       0.47      14.33
479           119750      39.50       0.50       8.50       0.50      14.50

     var_rss23
0         0.00
1         0.00
2         0.00
3         0.00
4         0.50
..         ...
475       0.83
476       0.50
477       1.12
478       0.47
479       0.50

[480 rows x 7 columns]
     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      29.00       0.00       9.00       0.71       8.50
1                250      29.00       0.00       8.00       0.71       8.50
2                500      29.00       0.00       8.00       0.71       8.00
3                750      28.50       0.50       8.25       0.43       8.75
4               1000      29.00       0.00       8.75       1.09       9.00
..               ...        ...        ...        ...        ...        ...
475           118750      29.25       0.43       4.00       0.00      10.50
476           119000      29.25       0.43       4.00       0.00      10.25
477           119250      29.50       0.50       2.33       0.94       9.67
478           119500      29.00       0.00       2.67       0.47      10.00
479           119750      29.00       0.00       2.75       0.43      11.00

     var_rss23
0         0.50
1         0.50
2         1.00
3         0.43
4         0.00
..         ...
475       0.50
476       0.83
477       0.94
478       0.82
479       0.82

[480 rows x 7 columns]
     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      29.00       0.00       2.75       0.43      10.20
1                250      29.33       0.47       2.50       0.50      10.33
2                500      29.00       0.00       1.50       0.50      10.25
3                750      29.25       0.43       1.50       0.50      10.25
4               1000      29.00       0.00       1.00       0.00      10.50
..               ...        ...        ...        ...        ...        ...
475           118750      48.00       0.00       5.00       0.00       1.75
476           119000      48.00       0.00       5.25       0.43       2.33
477           119250      48.00       0.00       6.00       0.00       2.00
478           119500      48.00       0.00       6.00       0.00       2.33
479           119750      48.00       0.00       6.00       0.00       2.00

     var_rss23
0         0.75
1         0.94
2         0.43
3         0.83
4         1.12
..         ...
475       0.43
476       0.47
477       0.82
478       0.47
479       0.00

[480 rows x 7 columns]
     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0       48.0        0.0       6.25       0.43       2.00
1                250       48.0        0.0       6.00       0.00       1.67
2                500       48.0        0.0       6.00       0.00       2.00
3                750       48.0        0.0       5.25       0.43       2.67
4               1000       48.0        0.0       5.50       0.50       2.00
..               ...        ...        ...        ...        ...        ...
475           118750       48.0        0.0       7.75       0.43      11.25
476           119000       48.0        0.0       8.33       0.47       9.67
477           119250       48.0        0.0       8.75       0.43       9.50
478           119500       48.0        0.0       9.00       0.00       9.75
479           119750       48.0        0.0       9.00       0.00       9.33

     var_rss23
0         0.71
1         0.94
2         1.00
3         0.94
4         0.82
..         ...
475       0.83
476       0.47
477       0.50
478       0.83
479       0.47

[480 rows x 7 columns]
     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      29.00       0.00       9.00       0.71       8.50
1                250      29.00       0.00       8.00       0.71       8.50
2                500      29.00       0.00       8.00       0.71       8.00
3                750      28.50       0.50       8.25       0.43       8.75
4               1000      29.00       0.00       8.75       1.09       9.00
..               ...        ...        ...        ...        ...        ...
475           118750      29.25       0.43       4.00       0.00      10.50
476           119000      29.25       0.43       4.00       0.00      10.25
477           119250      29.50       0.50       2.33       0.94       9.67
478           119500      29.00       0.00       2.67       0.47      10.00
479           119750      29.00       0.00       2.75       0.43      11.00

     var_rss23
0         0.50
1         0.50
2         1.00
3         0.43
4         0.00
..         ...
475       0.50
476       0.83
477       0.94
478       0.82
479       0.82

[480 rows x 7 columns]
     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0       48.0        0.0       6.25       0.43       2.00
1                250       48.0        0.0       6.00       0.00       1.67
2                500       48.0        0.0       6.00       0.00       2.00
3                750       48.0        0.0       5.25       0.43       2.67
4               1000       48.0        0.0       5.50       0.50       2.00
..               ...        ...        ...        ...        ...        ...
475           118750       48.0        0.0       7.75       0.43      11.25
476           119000       48.0        0.0       8.33       0.47       9.67
477           119250       48.0        0.0       8.75       0.43       9.50
478           119500       48.0        0.0       9.00       0.00       9.75
479           119750       48.0        0.0       9.00       0.00       9.33

     var_rss23
0         0.71
1         0.94
2         1.00
3         0.94
4         0.82
..         ...
475       0.83
476       0.47
477       0.50
478       0.83
479       0.47

[480 rows x 7 columns]
     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      39.50       0.50       4.33       1.25      12.00
1                250      39.50       0.50       7.00       0.00      12.33
2                500      39.50       0.50       6.33       2.49      11.75
3                750      39.67       0.47       8.75       1.30      12.67
4               1000      39.50       0.50       5.00       0.71      11.75
..               ...        ...        ...        ...        ...        ...
475           118750      39.50       0.50       3.00       0.00      18.00
476           119000      39.67       0.47       3.00       0.00      17.67
477           119250      39.00       0.00       2.00       0.00      18.00
478           119500      39.00       0.00       2.00       0.00      18.00
479           119750      39.00       0.00       2.00       0.00      18.00

     var_rss23
0         0.00
1         0.47
2         0.43
3         0.47
4         0.43
..         ...
475       0.00
476       0.47
477       0.00
478       0.00
479       0.00

[480 rows x 7 columns]
     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      39.50       0.50      12.00       0.00       0.00
1                250      39.75       0.83      13.00       0.00       0.00
2                500      40.00       1.00      12.67       0.47       0.00
3                750      40.00       0.71      12.50       0.50       1.00
4               1000      40.00       0.82      12.50       0.87       1.50
..               ...        ...        ...        ...        ...        ...
475           118750      39.50       0.50       8.25       0.83      13.25
476           119000      39.67       0.47       6.00       0.00      13.50
477           119250      39.50       0.50       7.60       0.49      13.50
478           119500      39.50       0.50       8.33       0.47      14.33
479           119750      39.50       0.50       8.50       0.50      14.50

     var_rss23
0         0.00
1         0.00
2         0.00
3         0.00
4         0.50
..         ...
475       0.83
476       0.50
477       1.12
478       0.47
479       0.50

[480 rows x 7 columns]
     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      29.00       0.00       9.00       0.71       8.50
1                250      29.00       0.00       8.00       0.71       8.50
2                500      29.00       0.00       8.00       0.71       8.00
3                750      28.50       0.50       8.25       0.43       8.75
4               1000      29.00       0.00       8.75       1.09       9.00
..               ...        ...        ...        ...        ...        ...
475           118750      29.25       0.43       4.00       0.00      10.50
476           119000      29.25       0.43       4.00       0.00      10.25
477           119250      29.50       0.50       2.33       0.94       9.67
478           119500      29.00       0.00       2.67       0.47      10.00
479           119750      29.00       0.00       2.75       0.43      11.00

     var_rss23
0         0.50
1         0.50
2         1.00
3         0.43
4         0.00
..         ...
475       0.50
476       0.83
477       0.94
478       0.82
479       0.82

[480 rows x 7 columns]
     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      39.67       0.47       6.00       0.82      16.00
1                250      39.50       0.50       4.50       1.12      17.75
2                500      39.67       0.47       4.50       1.12      18.33
3                750      39.50       0.50       4.50       2.06      17.50
4               1000      39.33       0.47       5.33       0.47      17.00
..               ...        ...        ...        ...        ...        ...
475           118750      41.50       0.50      10.67       0.47      14.00
476           119000      41.50       0.50      10.80       0.40      14.40
477           119250      41.75       0.43      10.00       0.00      13.67
478           119500      42.00       0.00       9.40       0.49      14.00
479           119750      41.75       0.43       9.00       0.00      14.33

     var_rss23
0         1.00
1         0.43
2         0.47
3         0.50
4         0.71
..         ...
475       0.82
476       0.80
477       0.94
478       1.10
479       0.47

[480 rows x 7 columns]

     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      39.58       0.49       1.92       0.73      17.67
1                250      39.25       0.43       2.00       0.71      17.75
2                500      39.25       0.43       1.67       0.94      17.67
3                750      39.50       0.50       2.67       0.47      17.75
4               1000      39.50       0.50       1.00       0.00      17.75
..               ...        ...        ...        ...        ...        ...
475           118750      39.25       0.43       6.00       2.74      16.25
476           119000      39.00       0.00       4.00       2.55      13.75
477           119250      39.50       0.50       7.50       0.50      13.00
478           119500      39.50       0.50       6.75       0.83      15.00
479           119750      39.50       0.50       6.50       0.50      16.50

     var_rss23
0         0.47
1         0.43
2         0.47
3         0.43
4         0.43
..         ...
475       2.05
476       1.30
477       1.22
478       1.41
479       1.12

[480 rows x 7 columns]
     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      39.67       0.47       6.00       0.82      16.00
1                250      39.50       0.50       4.50       1.12      17.75
2                500      39.67       0.47       4.50       1.12      18.33
3                750      39.50       0.50       4.50       2.06      17.50
4               1000      39.33       0.47       5.33       0.47      17.00
..               ...        ...        ...        ...        ...        ...
475           118750      41.50       0.50      10.67       0.47      14.00
476           119000      41.50       0.50      10.80       0.40      14.40
477           119250      41.75       0.43      10.00       0.00      13.67
478           119500      42.00       0.00       9.40       0.49      14.00
479           119750      41.75       0.43       9.00       0.00      14.33

     var_rss23
0         1.00
1         0.43
2         0.47
3         0.50
4         0.71
..         ...
475       0.82
476       0.80
477       0.94
478       1.10
479       0.47

[480 rows x 7 columns]
     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      39.50       0.50       4.33       1.25      12.00
1                250      39.50       0.50       7.00       0.00      12.33
2                500      39.50       0.50       6.33       2.49      11.75
3                750      39.67       0.47       8.75       1.30      12.67
4               1000      39.50       0.50       5.00       0.71      11.75
..               ...        ...        ...        ...        ...        ...
475           118750      41.50       0.50      10.67       0.47      14.00
476           119000      41.50       0.50      10.80       0.40      14.40
477           119250      41.75       0.43      10.00       0.00      13.67
478           119500      42.00       0.00       9.40       0.49      14.00
479           119750      41.75       0.43       9.00       0.00      14.33

     var_rss23
0         0.00
1         0.47
2         0.43
3         0.47
4         0.43
..         ...
475       0.82
476       0.80
477       0.94
478       1.10
479       0.47

[7200 rows x 7 columns]

In [9]:
lying1.reset_index(drop=True, inplace=True)
lying1

,# Columns: time,avg_rss12,var_rss12,avg_rss13,var_rss13,avg_rss23,var_rss23
0,0,39.50,0.50,4.33,1.25,12.00,0.00
1,250,39.50,0.50,7.00,0.00,12.33,0.47
2,500,39.50,0.50,6.33,2.49,11.75,0.43
3,750,39.67,0.47,8.75,1.30,12.67,0.47
4,1000,39.50,0.50,5.00,0.71,11.75,0.43
...,...,...,...,...,...,...,...
7195,118750,41.50,0.50,10.67,0.47,14.00,0.82
7196,119000,41.50,0.50,10.80,0.40,14.40,0.80
7197,119250,41.75,0.43,10.00,0.00,13.67,0.94
7198,119500,42.00,0.00,9.40,0.49,14.00,1.10
7199,119750,41.75,0.43,9.00,0.00,14.33,0.47

In [10]:
df_siting= pd.DataFrame(columns=['# Columns: time', 'avg_rss12', 'var_rss12', 'avg_rss13','avg_rss23','var_rss23'])
frame=[]
for info in os.listdir('/Users/chaixiaotang/Documents/GitHub/homework-3-xiaotangchai/Data/AReM/sitting'):
    domain = os.path.abspath(r'/Users/chaixiaotang/Documents/GitHub/homework-3-xiaotangchai/Data/AReM/sitting') 
    info = os.path.join(domain,info)  
    data = pd.read_csv(info,skiprows=4)
    df=pd.DataFrame(data)
    frame.append(df)
    print(data)
sitting1=pd.concat(frame)
print(sitting1)

     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      33.00       0.00      11.75       0.43      14.67
1                250      33.75       1.30      13.75       1.09      14.50
2                500      36.00       0.00      12.25       0.43      16.50
3                750      36.00       0.00      12.00       0.00      15.50
4               1000      36.00       0.00      11.75       0.43      15.75
..               ...        ...        ...        ...        ...        ...
475           118750      44.00       0.00      18.75       0.43       0.00
476           119000      44.25       0.43      18.75       0.43       3.00
477           119250      43.33       0.47      19.00       0.00       4.25
478           119500      44.00       0.00      18.75       0.43       4.50
479           119750      44.50       0.50      18.75       0.43       6.50

     var_rss23
0         0.47
1         1.12
2         0.87
3         0.50
4         0.83
..         ...
475       0.00
476       0.00
477       1.48
478       0.87
479       0.87

[480 rows x 7 columns]
     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      30.25       0.43      20.75       0.43      20.50
1                250      30.00       0.00      21.00       0.00      21.00
2                500      30.00       0.00      21.00       0.00      21.00
3                750      30.00       0.00      21.00       0.00      21.00
4               1000      30.00       0.00      21.25       0.43      21.00
..               ...        ...        ...        ...        ...        ...
475           118750      32.00       0.71       4.67       0.47      14.67
476           119000      31.25       0.43       3.50       0.50      13.25
477           119250      32.33       0.47       7.75       0.83      14.33
478           119500      33.00       0.00      11.50       0.50      14.00
479           119750      32.80       0.40      11.50       0.87      14.00

     var_rss23
0         0.50
1         0.00
2         0.00
3         0.00
4         0.00
..         ...
475       0.47
476       1.30
477       0.94
478       0.82
479       0.89

[480 rows x 7 columns]
     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0       45.0        0.0       4.33       0.94      20.75
1                250       45.0        0.0       7.67       0.47      21.00
2                500       45.0        0.0       4.00       2.00      21.00
3                750       45.0        0.0       5.67       2.05      19.25
4               1000       45.0        0.0      11.50       0.50      18.25
..               ...        ...        ...        ...        ...        ...
475           118750       45.0        0.0       9.00       2.12      12.50
476           119000       45.0        0.0       7.67       1.70      13.75
477           119250       45.0        0.0       5.40       1.02      12.25
478           119500       45.0        0.0       7.50       2.29      13.25
479           119750       45.0        0.0       3.67       1.25      12.00

     var_rss23
0         0.43
1         0.00
2         0.00
3         1.30
4         0.43
..         ...
475       0.87
476       0.83
477       0.43
478       1.30
479       1.00

[480 rows x 7 columns]
     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      45.00       0.00       4.33       0.94      10.75
1                250      45.00       0.00       1.00       0.00      12.33
2                500      45.00       0.00       2.50       0.50      14.50
3                750      45.00       0.00       3.00       0.00      14.50
4               1000      45.00       0.00       3.00       0.82      15.25
..               ...        ...        ...        ...        ...        ...
475           118750      30.33       0.47      21.00       0.00      19.33
476           119000      30.00       0.00      21.25       0.43      20.25
477           119250      30.00       0.00      21.00       0.00      20.25
478           119500      30.00       0.00      21.00       0.00      20.50
479           119750      30.00       0.00      20.25       0.43      20.25

     var_rss23
0         2.17
1         1.25
2         1.12
3         1.12
4         0.43
..         ...
475       1.25
476       0.43
477       0.83
478       0.87
479       0.43

[480 rows x 7 columns]
     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      42.00       0.00      19.20       0.98      15.50
1                250      42.00       0.00      19.33       0.94      11.00
2                500      42.00       0.00      17.50       0.50      12.50
3                750      42.00       0.00      17.00       1.41      13.33
4               1000      42.00       0.00      17.50       0.87      12.00
..               ...        ...        ...        ...        ...        ...
475           118750      44.25       0.83      20.00       0.00      18.00
476           119000      44.25       0.43      20.00       0.00      17.75
477           119250      44.25       0.43      19.00       1.00      17.75
478           119500      44.75       0.43      17.00       0.71      15.00
479           119750      48.00       2.12      22.25       1.92      10.75

     var_rss23
0         2.06
1         0.82
2         0.50
3         0.94
4         0.82
..         ...
475       0.00
476       0.43
477       0.43
478       1.00
479       2.28

[480 rows x 7 columns]
     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      50.25       0.43      24.00       0.00       6.75
1                250      50.75       0.43      23.67       0.47       9.33
2                500      48.00       0.71      22.50       0.87       8.75
3                750      47.33       0.47      20.50       0.50      10.67
4               1000      47.50       0.50      21.00       0.00       8.50
..               ...        ...        ...        ...        ...        ...
475           118750      45.00       0.00      10.50       1.50      18.25
476           119000      45.00       0.00      12.00       0.00      18.25
477           119250      45.00       0.00       7.50       4.50      19.00
478           119500      45.00       0.00      12.75       1.48      19.40
479           119750      45.00       0.00      16.00       1.58      19.25

     var_rss23
0         1.92
1         0.94
2         1.09
3         0.94
4         0.50
..         ...
475       0.43
476       0.43
477       1.00
478       0.80
479       0.83

[480 rows x 7 columns]
     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0       45.0        0.0      13.25       0.83      18.00
1                250       45.0        0.0      10.67       0.47      18.00
2                500       45.0        0.0      10.00       0.82      17.75
3                750       45.0        0.0      10.33       1.70      17.50
4               1000       45.0        0.0       4.33       1.70      12.50
..               ...        ...        ...        ...        ...        ...
475           118750       45.0        0.0       9.00       0.82      21.00
476           119000       45.0        0.0       6.67       0.94      21.00
477           119250       45.0        0.0       6.67       2.05      21.00
478           119500       45.0        0.0       5.50       1.50      21.00
479           119750       45.0        0.0       4.75       2.49      21.00

     var_rss23
0         0.00
1         0.00
2         0.43
3         0.50
4         1.50
..         ...
475       0.00
476       0.00
477       0.00
478       0.00
479       0.00

[480 rows x 7 columns]
     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      42.00       0.00      21.00       0.00      15.00
1                250      42.00       0.00      21.00       0.00      18.00
2                500      42.00       0.00      20.75       0.43      17.75
3                750      42.00       0.00      20.25       0.43      18.25
4               1000      42.00       0.00      20.00       0.00      18.00
..               ...        ...        ...        ...        ...        ...
475           118750      39.00       0.00      12.25       2.68      20.50
476           119000      38.50       0.87      12.00       0.00       9.75
477           119250      38.00       1.00      13.33       2.05       9.67
478           119500      38.25       0.83       8.75       0.83      11.33
479           119750      37.75       1.30       9.25       2.05      13.00

     var_rss23
0         1.00
1         0.00
2         0.43
3         1.09
4         0.00
..         ...
475       1.50
476       3.96
477       6.18
478       2.87
479       1.00

[480 rows x 7 columns]
     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      37.25       0.83      10.33       2.87      17.00
1                250      37.67       1.25      15.50       0.87      15.00
2                500      37.25       1.30      15.25       0.83      14.25
3                750      37.33       1.25      12.67       0.47      10.50
4               1000      38.00       0.71      16.00       1.87      14.00
..               ...        ...        ...        ...        ...        ...
475           118750      42.33       0.47      13.00       0.00      13.00
476           119000      43.00       0.82      18.00       0.00      13.75
477           119250      42.50       0.50      18.00       0.00      13.00
478           119500      42.25       0.43      12.50       1.80      14.75
479           119750      42.50       0.50       6.67       0.94      11.50

     var_rss23
0         1.22
1         2.45
2         1.30
3         2.87
4         3.24
..         ...
475       1.00
476       1.30
477       0.00
478       1.79
479       1.12

[480 rows x 7 columns]
     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      41.50       0.50      14.00       0.00      14.50
1                250      41.75       0.43      14.75       0.43      13.00
2                500      41.50       0.50      16.50       0.50      12.50
3                750      41.50       0.50      16.75       0.43      14.25
4               1000      41.50       0.50      16.25       0.83      15.50
..               ...        ...        ...        ...        ...        ...
475           118750      44.60       0.49      13.75       1.30      22.60
476           119000      44.50       0.50      16.50       1.50      22.00
477           119250      44.00       0.82      22.75       1.09      20.33
478           119500      43.25       0.83      21.75       0.83      20.00
479           119750      42.20       0.40      18.00       1.41      16.80

     var_rss23
0         0.87
1         0.71
2         0.50
3         1.48
4         0.87
..         ...
475       1.02
476       1.22
477       0.94
478       1.22
479       1.17

[480 rows x 7 columns]
     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      42.50       0.50       8.33       3.30      16.50
1                250      42.75       0.83      13.50       1.12      17.25
2                500      42.25       0.43      12.00       0.00      19.00
3                750      42.50       0.50       4.50       2.50      18.00
4               1000      42.25       0.43       6.67       4.11      18.75
..               ...        ...        ...        ...        ...        ...
475           118750      41.75       0.43      14.75       2.38      14.25
476           119000      42.00       0.00      11.00       0.82      12.25
477           119250      41.75       0.43      10.25       0.83       9.50
478           119500      41.75       0.43       9.00       1.41      13.25
479           119750      41.50       0.50      13.25       0.83      14.25

     var_rss23
0         2.60
1         0.83
2         0.82
3         0.00
4         0.83
..         ...
475       0.83
476       0.83
477       0.50
478       2.17
479       0.83

[480 rows x 7 columns]

     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      41.50       0.50       2.67       2.36       8.75
1                250      41.50       0.50       1.00       0.00       7.50
2                500      41.50       0.50       0.00       0.00       7.75
3                750      41.50       0.50       1.50       0.50       8.00
4               1000      41.50       0.50       2.00       0.00       7.33
..               ...        ...        ...        ...        ...        ...
475           118750      41.00       0.82      17.25       1.30      11.00
476           119000      41.50       0.50      18.00       0.00      10.67
477           119250      41.33       0.47      18.67       0.47      11.00
478           119500      41.50       0.50      18.50       0.50      12.33
479           119750      41.50       0.50      17.00       1.00      13.50

     var_rss23
0         0.83
1         0.87
2         0.43
3         0.00
4         0.47
..         ...
475       0.82
476       1.25
477       1.41
478       0.47
479       1.12

[480 rows x 7 columns]
     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      42.00       0.00      11.50       4.56      18.50
1                250      41.75       0.43      21.50       1.80      11.75
2                500      41.67       0.47       9.33       5.44      12.00
3                750      40.00       0.82      12.67       0.94      17.75
4               1000      40.25       0.83      12.25       0.43      18.25
..               ...        ...        ...        ...        ...        ...
475           118750      43.67       0.47      21.00       0.71      19.33
476           119000      43.67       0.47      18.75       0.83      20.33
477           119250      43.25       0.83      18.75       0.83      13.50
478           119500      42.25       0.43      19.50       0.50       7.25
479           119750      41.67       0.47      15.00       2.45      11.25

     var_rss23
0         0.87
1         1.48
2         2.83
3         1.09
4         0.43
..         ...
475       1.25
476       0.94
477       2.69
478       2.86
479       0.83

[480 rows x 7 columns]
     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      44.00       0.71      18.75       0.43       7.75
1                250      44.00       0.00      18.50       0.50       8.67
2                500      43.75       0.83      18.00       0.00       9.67
3                750      43.75       0.43      18.25       0.43       9.00
4               1000      43.75       0.43      18.00       0.00       9.00
..               ...        ...        ...        ...        ...        ...
474           118750      42.25       0.43      18.00       0.00      16.50
475           119000      42.00       0.00      18.00       0.00      16.00
476           119250      42.50       0.50      18.00       0.00      15.25
477           119500      42.50       0.50      18.25       0.43      16.00
478           119750      42.25       0.43      20.00       0.71      19.00

     var_rss23
0         1.30
1         0.47
2         0.94
3         0.00
4         0.00
..         ...
474       1.12
475       0.82
476       0.43
477       1.22
478       1.00

[479 rows x 7 columns]
     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      42.00       0.00      18.75       0.83      20.25
1                250      42.25       0.43      18.25       0.43      20.75
2                500      42.50       0.50      19.50       0.87      18.75
3                750      42.25       0.43      19.00       0.00      20.75
4               1000      42.00       0.00      20.33       0.47      21.00
..               ...        ...        ...        ...        ...        ...
475           118750      42.00       0.00      20.50       0.87      18.50
476           119000      42.00       0.00      21.25       0.43      17.50
477           119250      42.00       0.00      21.00       0.00      16.00
478           119500      42.00       0.00      21.00       0.00      18.25
479           119750      42.00       0.00      21.00       0.00      16.67

     var_rss23
0         0.83
1         0.83
2         0.43
3         1.09
4         0.00
..         ...
475       0.50
476       0.50
477       0.82
478       0.43
479       0.47

[480 rows x 7 columns]
     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      33.00        0.0      11.75       0.43      14.67
1                250      33.75        1.3      13.75       1.09      14.50
2                500      36.00        0.0      12.25       0.43      16.50
3                750      36.00        0.0      12.00       0.00      15.50
4               1000      36.00        0.0      11.75       0.43      15.75
..               ...        ...        ...        ...        ...        ...
475           118750      42.00        0.0      20.50       0.87      18.50
476           119000      42.00        0.0      21.25       0.43      17.50
477           119250      42.00        0.0      21.00       0.00      16.00
478           119500      42.00        0.0      21.00       0.00      18.25
479           119750      42.00        0.0      21.00       0.00      16.67

     var_rss23
0         0.47
1         1.12
2         0.87
3         0.50
4         0.83
..         ...
475       0.50
476       0.50
477       0.82
478       0.43
479       0.47

[7199 rows x 7 columns]

In [11]:
sitting1.reset_index(drop=True, inplace=True)
sitting1

,# Columns: time,avg_rss12,var_rss12,avg_rss13,var_rss13,avg_rss23,var_rss23
0,0,33.00,0.0,11.75,0.43,14.67,0.47
1,250,33.75,1.3,13.75,1.09,14.50,1.12
2,500,36.00,0.0,12.25,0.43,16.50,0.87
3,750,36.00,0.0,12.00,0.00,15.50,0.50
4,1000,36.00,0.0,11.75,0.43,15.75,0.83
...,...,...,...,...,...,...,...
7194,118750,42.00,0.0,20.50,0.87,18.50,0.50
7195,119000,42.00,0.0,21.25,0.43,17.50,0.50
7196,119250,42.00,0.0,21.00,0.00,16.00,0.82
7197,119500,42.00,0.0,21.00,0.00,18.25,0.43
7198,119750,42.00,0.0,21.00,0.00,16.67,0.47

In [12]:
df_standing= pd.DataFrame(columns=['# Columns: time', 'avg_rss12', 'var_rss12', 'avg_rss13','avg_rss23','var_rss23'])
frame=[]
for info in os.listdir('/Users/chaixiaotang/Documents/GitHub/homework-3-xiaotangchai/Data/AReM/standing'):
    domain = os.path.abspath(r'/Users/chaixiaotang/Documents/GitHub/homework-3-xiaotangchai/Data/AReM/standing') 
    info = os.path.join(domain,info)  
    data = pd.read_csv(info,skiprows=4)
    df=pd.DataFrame(data)
    frame.append(df)
    print(data)
standing1=pd.concat(frame)
print(standing1)

     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      45.00       0.00      19.00       0.82      10.00
1                250      45.33       0.47      15.67       0.94       9.75
2                500      45.25       0.43      16.00       0.71      11.50
3                750      45.25       0.43      17.75       1.09      10.00
4               1000      45.50       0.50      20.00       0.71      11.75
..               ...        ...        ...        ...        ...        ...
475           118750      48.00       0.00       9.00       0.71      12.00
476           119000      48.00       0.00       9.75       0.83      12.00
477           119250      48.00       0.00       7.00       2.12      10.60
478           119500      48.00       0.00       0.00       0.00       7.50
479           119750      48.00       0.00       0.00       0.00       8.33

     var_rss23
0         1.22
1         1.48
2         0.50
3         1.00
4         0.43
..         ...
475       0.00
476       0.00
477       1.36
478       1.50
479       2.87

[480 rows x 7 columns]
     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      44.50       0.87      11.25       5.54      12.50
1                250      42.50       0.87      18.00       0.71      14.25
2                500      39.00       2.12      16.00       1.58      13.75
3                750      36.25       0.43      18.67       0.47       9.50
4               1000      39.25       1.48      16.25       2.68       5.67
..               ...        ...        ...        ...        ...        ...
475           118750      45.00       0.00      21.00       0.00      13.00
476           119000      45.00       0.00      21.00       0.00      12.25
477           119250      45.00       0.00      21.00       0.00      12.50
478           119500      45.00       0.00      21.00       0.00      12.00
479           119750      45.00       0.00      20.80       0.40      12.75

     var_rss23
0         2.96
1         3.83
2         2.38
3         0.50
4         2.87
..         ...
475       0.82
476       0.43
477       0.87
478       0.00
479       0.83

[480 rows x 7 columns]
     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      41.50       0.50      20.67       0.47      14.33
1                250      41.50       0.50      20.00       0.00      15.25
2                500      41.50       0.50      20.25       0.43      15.75
3                750      41.67       0.47      20.75       0.43      17.50
4               1000      41.50       0.50      21.00       0.00      16.50
..               ...        ...        ...        ...        ...        ...
475           118750      44.50       0.50      21.00       0.00      14.75
476           119000      44.75       0.43      19.50       0.50      14.50
477           119250      44.75       0.43      18.50       0.50      12.75
478           119500      44.75       0.43      19.25       0.43      10.25
479           119750      45.00       0.00      18.75       0.43       9.00

     var_rss23
0         0.47
1         0.43
2         0.43
3         0.50
4         1.12
..         ...
475       1.09
476       0.50
477       0.83
478       0.83
479       0.00

[480 rows x 7 columns]
     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      45.00       0.00      18.25       0.43       9.50
1                250      45.00       0.00      20.00       0.00       9.00
2                500      44.75       0.43      18.75       0.43       9.75
3                750      44.33       0.47      18.25       0.43      11.00
4               1000      43.33       0.47      18.33       0.47      10.00
..               ...        ...        ...        ...        ...        ...
475           118750      47.25       0.43      11.75       3.96      18.25
476           119000      45.50       1.12      12.00       1.22      15.25
477           119250      40.75       1.92      14.00       1.41      19.67
478           119500      43.50       1.12      14.00       1.22       6.75
479           119750      45.50       0.50      10.50       1.12      13.75

     var_rss23
0         0.50
1         0.00
2         0.83
3         1.00
4         0.71
..         ...
475       3.70
476       4.26
477       1.25
478       3.77
479       4.76

[480 rows x 7 columns]
     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      46.50       0.50      11.50       0.50      20.33
1                250      46.50       0.50      12.00       0.00      20.25
2                500      46.50       0.50      12.00       0.00      20.50
3                750      46.50       0.50      12.75       0.43      19.50
4               1000      46.50       0.50      13.25       0.43      18.75
..               ...        ...        ...        ...        ...        ...
475           118750      43.50       0.50      15.00       0.00      16.00
476           119000      43.75       0.43      14.75       0.43      17.25
477           119250      43.75       0.83      14.00       0.82      17.33
478           119500      43.75       0.43      14.25       0.43      17.25
479           119750      44.00       0.82      15.00       0.00      17.67

     var_rss23
0         0.94
1         0.43
2         0.50
3         0.50
4         0.43
..         ...
475       0.71
476       0.83
477       0.47
478       0.83
479       0.47

[480 rows x 7 columns]
     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      44.33       0.47      15.00       0.00      17.00
1                250      44.25       0.83      14.75       0.43      15.50
2                500      44.40       0.80      15.00       0.00      15.25
3                750      43.67       0.47      15.00       0.00      16.00
4               1000      43.75       0.83      15.00       0.00      15.50
..               ...        ...        ...        ...        ...        ...
475           118750      44.75       0.43       7.50       0.50      14.75
476           119000      44.33       0.47       7.00       0.00      15.00
477           119250      44.75       0.43       6.50       0.50      15.00
478           119500      44.50       0.50       6.25       1.92      16.00
479           119750      44.50       0.50      10.75       1.64      15.25

     var_rss23
0         0.71
1         0.50
2         0.43
3         0.71
4         0.50
..         ...
475       1.09
476       1.41
477       0.71
478       1.00
479       0.43

[480 rows x 7 columns]
     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      44.50       0.50       5.33       4.19      15.00
1                250      44.50       0.50       3.33       1.70      15.00
2                500      44.50       0.50       3.00       1.00      16.00
3                750      44.50       0.50       4.33       0.94      14.67
4               1000      44.67       0.47       5.75       0.83      15.33
..               ...        ...        ...        ...        ...        ...
475           118750      41.25       0.83      19.75       0.43      17.00
476           119000      41.50       0.50      20.75       0.43      17.25
477           119250      41.50       0.50      20.75       0.43      15.75
478           119500      41.50       0.50      20.50       0.50      15.75
479           119750      41.50       0.50      20.25       0.43      15.25

     var_rss23
0         1.22
1         1.00
2         0.00
3         0.47
4         0.47
..         ...
475       0.71
476       0.83
477       0.83
478       0.83
479       0.83

[480 rows x 7 columns]
     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      44.50       0.50      15.00       0.71       9.25
1                250      44.75       0.43      13.00       0.71      11.25
2                500      41.33       0.94      15.33       0.47      11.00
3                750      39.50       0.87      16.75       1.09      10.00
4               1000      39.25       0.43      15.75       2.49      15.25
..               ...        ...        ...        ...        ...        ...
475           118750      45.00       0.00      17.75       0.43      13.00
476           119000      45.00       0.00      16.75       0.43      13.50
477           119250      45.00       0.00      16.00       0.00      12.75
478           119500      45.00       0.00      16.25       0.43      12.00
479           119750      45.00       0.00      17.00       0.00      12.00

     var_rss23
0         0.43
1         0.83
2         1.22
3         1.58
4         2.17
..         ...
475       1.00
476       0.87
477       0.43
478       0.00
479       0.00

[480 rows x 7 columns]
     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      45.00       0.00      17.25       0.43      13.50
1                250      45.00       0.00      17.75       0.43      13.75
2                500      45.00       0.00      17.25       0.43      13.75
3                750      45.00       0.00      16.50       1.12      14.67
4               1000      45.00       0.00      15.50       0.50      14.25
..               ...        ...        ...        ...        ...        ...
475           118750      38.75       0.43      17.25       0.43      17.75
476           119000      39.25       0.43      15.25       2.17      18.50
477           119250      41.75       0.43       7.33       3.40      16.25
478           119500      43.00       0.71      10.00       2.12      16.25
479           119750      44.00       0.00      14.00       0.00      15.00

     var_rss23
0         0.87
1         0.83
2         0.83
3         0.47
4         1.48
..         ...
475       0.43
476       0.87
477       1.30
478       0.83
479       0.71

[480 rows x 7 columns]
     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      45.00       0.00      12.50       0.87      14.50
1                250      45.00       0.00      13.00       0.00      14.00
2                500      45.00       0.00      12.00       0.00      13.50
3                750      45.00       0.00      13.33       0.47      12.50
4               1000      45.00       0.00      12.25       0.43      12.75
..               ...        ...        ...        ...        ...        ...
475           118750      40.50       0.50      12.75       1.30      17.00
476           119000      39.67       0.47      11.00       1.00      17.75
477           119250      40.25       0.83       8.25       0.83      18.00
478           119500      40.00       0.71       7.67       0.47      18.00
479           119750      39.75       0.83       8.00       0.71      18.00

     var_rss23
0         0.50
1         1.00
2         0.87
3         0.50
4         0.83
..         ...
475       0.71
476       0.83
477       0.00
478       0.00
479       0.00

[480 rows x 7 columns]
     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      43.75       0.83      14.75       0.43      14.25
1                250      45.00       0.00      17.67       0.47      12.50
2                500      45.25       0.43      17.25       0.83      11.75
3                750      45.00       0.00      16.00       1.00      12.33
4               1000      44.67       0.47      12.00       0.00      12.67
..               ...        ...        ...        ...        ...        ...
475           118750      44.67       0.47      12.25       0.43      15.00
476           119000      44.33       0.47      13.00       0.00      14.75
477           119250      45.00       0.00      12.00       0.00      15.00
478           119500      45.00       0.00      11.50       0.50      15.00
479           119750      45.00       0.00      12.00       0.00      15.00

     var_rss23
0         0.83
1         0.87
2         0.43
3         0.47
4         0.47
..         ...
475       0.00
476       0.43
477       0.71
478       0.00
479       0.00

[480 rows x 7 columns]
     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      41.50       0.87      19.75       1.30      10.25
1                250      40.33       0.47      14.00       1.63      12.25
2                500      40.25       0.83       7.00       0.00      10.50
3                750      40.50       0.50       9.00       0.00      12.67
4               1000      40.50       0.50      14.50       2.29      14.25
..               ...        ...        ...        ...        ...        ...
475           118750      45.25       0.43      12.25       0.43      13.75
476           119000      45.00       0.00      12.60       0.80      14.25
477           119250      45.00       0.00      12.00       0.00      14.50
478           119500      45.50       0.50      12.25       0.43      14.50
479           119750      45.00       0.00      12.50       0.87      14.00

     var_rss23
0         2.86
1         0.43
2         0.50
3         0.94
4         0.83
..         ...
475       0.83
476       0.83
477       0.50
478       0.50
479       0.71

[480 rows x 7 columns]
     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      39.50       0.50       9.00       0.00      18.00
1                250      39.25       0.43      11.00       1.00      17.50
2                500      39.25       0.43      12.00       0.00      16.50
3                750      39.00       0.00      11.00       0.71      16.75
4               1000      39.00       0.00      11.75       0.43      18.00
..               ...        ...        ...        ...        ...        ...
475           118750      45.00       0.00      15.50       0.87      13.00
476           119000      45.00       0.00      15.75       0.43      13.75
477           119250      44.50       0.87      17.25       0.83      15.75
478           119500      42.75       0.83      17.75       0.43      19.00
479           119750      42.00       0.00      20.67       0.47      17.00

     var_rss23
0         0.00
1         0.50
2         0.50
3         0.83
4         0.00
..         ...
475       1.00
476       1.09
477       1.48
478       1.00
479       0.82

[480 rows x 7 columns]

     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      48.00       0.00       6.75       3.77      11.00
1                250      47.75       0.43      11.50       0.50      10.00
2                500      48.00       0.00      11.25       0.43       8.67
3                750      48.00       0.00      11.67       0.47      11.00
4               1000      48.00       0.00      10.25       1.79      12.00
..               ...        ...        ...        ...        ...        ...
475           118750      46.00       0.82      18.00       0.00      13.25
476           119000      46.50       0.50      18.50       0.50      14.00
477           119250      46.50       0.50      18.75       0.83      14.00
478           119500      46.50       0.50      19.00       0.71      14.50
479           119750      46.25       0.43      18.50       0.50      15.00

     var_rss23
0         1.22
1         1.00
2         0.47
3         1.41
4         0.00
..         ...
475       1.09
476       0.71
477       1.00
478       0.50
479       0.71

[480 rows x 7 columns]
     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      46.25       0.43      18.25       0.43      14.75
1                250      46.00       0.71      18.50       0.87      14.25
2                500      46.25       0.83      18.50       0.87      13.75
3                750      46.25       0.83      18.67       0.47      14.00
4               1000      46.00       1.00      18.50       0.50      13.25
..               ...        ...        ...        ...        ...        ...
475           118750      44.50       0.50      18.75       0.83       5.25
476           119000      44.50       0.50      19.33       0.47       6.00
477           119250      44.50       0.50      19.25       0.83       7.25
478           119500      44.50       0.50      19.00       0.71       8.00
479           119750      44.67       0.47      18.00       0.00       9.00

     var_rss23
0         0.43
1         0.83
2         0.83
3         0.82
4         0.83
..         ...
475       1.79
476       0.82
477       1.30
478       0.71
479       0.00

[480 rows x 7 columns]
     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      45.00       0.00      19.00       0.82      10.00
1                250      45.33       0.47      15.67       0.94       9.75
2                500      45.25       0.43      16.00       0.71      11.50
3                750      45.25       0.43      17.75       1.09      10.00
4               1000      45.50       0.50      20.00       0.71      11.75
..               ...        ...        ...        ...        ...        ...
475           118750      44.50       0.50      18.75       0.83       5.25
476           119000      44.50       0.50      19.33       0.47       6.00
477           119250      44.50       0.50      19.25       0.83       7.25
478           119500      44.50       0.50      19.00       0.71       8.00
479           119750      44.67       0.47      18.00       0.00       9.00

     var_rss23
0         1.22
1         1.48
2         0.50
3         1.00
4         0.43
..         ...
475       1.79
476       0.82
477       1.30
478       0.71
479       0.00

[7200 rows x 7 columns]

In [13]:
standing1.reset_index(drop=True, inplace=True)
standing1

,# Columns: time,avg_rss12,var_rss12,avg_rss13,var_rss13,avg_rss23,var_rss23
0,0,45.00,0.00,19.00,0.82,10.00,1.22
1,250,45.33,0.47,15.67,0.94,9.75,1.48
2,500,45.25,0.43,16.00,0.71,11.50,0.50
3,750,45.25,0.43,17.75,1.09,10.00,1.00
4,1000,45.50,0.50,20.00,0.71,11.75,0.43
...,...,...,...,...,...,...,...
7195,118750,44.50,0.50,18.75,0.83,5.25,1.79
7196,119000,44.50,0.50,19.33,0.47,6.00,0.82
7197,119250,44.50,0.50,19.25,0.83,7.25,1.30
7198,119500,44.50,0.50,19.00,0.71,8.00,0.71
7199,119750,44.67,0.47,18.00,0.00,9.00,0.00

In [14]:
df_walking= pd.DataFrame(columns=['# Columns: time', 'avg_rss12', 'var_rss12', 'avg_rss13','avg_rss23','var_rss23'])
frame=[]
for info in os.listdir('/Users/chaixiaotang/Documents/GitHub/homework-3-xiaotangchai/Data/AReM/walking'):
    domain = os.path.abspath(r'/Users/chaixiaotang/Documents/GitHub/homework-3-xiaotangchai/Data/AReM/walking') 
    info = os.path.join(domain,info)  
    data = pd.read_csv(info,skiprows=4)
    df=pd.DataFrame(data)
    frame.append(df)
    print(data)
walking1=pd.concat(frame)
print(walking1)

     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      32.25       3.27      14.50       6.02      13.25
1                250      37.50       1.12      16.75       4.60      17.25
2                500      34.00       7.45      18.00       0.00      16.00
3                750      28.75       4.02      14.50       1.50      15.00
4               1000      37.50       5.41      15.25       4.44      14.67
..               ...        ...        ...        ...        ...        ...
475           118750      29.25       4.15      15.00       2.24      23.75
476           119000      42.67       2.87      16.00       2.92      19.33
477           119250      36.75       4.97      16.00       2.24      17.75
478           119500      43.67       2.36      19.00       2.83      14.75
479           119750      38.00       5.66      23.33       0.94      14.25

     var_rss23
0         4.02
1         4.32
2         2.55
3         2.55
4         1.25
..         ...
475       1.79
476       2.62
477       3.19
478       2.49
479       3.70

[480 rows x 7 columns]
     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      39.00       6.48      12.67       0.94      17.67
1                250      31.75       2.49      16.25       5.31      17.00
2                500      34.00       2.83      16.33       3.40      16.33
3                750      38.50       6.06      18.00       2.12      14.25
4               1000      28.00       4.06      17.50       1.80      19.50
..               ...        ...        ...        ...        ...        ...
475           118750      44.00       1.41      19.67       2.05      14.25
476           119000      37.33       1.25      14.00       3.74      17.25
477           119250      27.75       7.29      13.67       6.18      20.75
478           119500      31.00       2.16      17.33       1.70      15.25
479           119750      33.00       6.40      18.50       2.87      12.67

     var_rss23
0         1.25
1         2.24
2         1.25
3         3.56
4         2.06
..         ...
475       1.79
476       3.90
477       0.43
478       4.02
479       2.49

[480 rows x 7 columns]
     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      38.50       3.77      15.50       1.80      20.50
1                250      33.67       3.86      13.33       3.40      16.00
2                500      40.33       6.55       9.67       3.30      18.00
3                750      34.50       5.59      15.33       4.50      22.75
4               1000      31.75       4.21      17.25       1.92      20.25
..               ...        ...        ...        ...        ...        ...
475           118750      34.75       7.66      14.50       2.18      12.00
476           119000      24.75       8.26      13.50       5.02      17.25
477           119250      26.25       2.49      18.75       3.56      12.50
478           119500      38.50       3.28      18.25       2.38      18.50
479           119750      35.50       1.50      14.00       2.12      20.75

     var_rss23
0         1.66
1         5.00
2         4.24
3         1.64
4         4.26
..         ...
475       5.79
476       4.32
477       7.09
478       2.06
479       3.27

[480 rows x 7 columns]
     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      35.75       2.77      14.67       2.05      14.00
1                250      40.00       4.06      12.00       3.94      13.00
2                500      33.00       4.24      14.00       1.00      15.67
3                750      30.25       0.43      15.25       2.77      20.25
4               1000      40.00       0.82      13.25       5.80      21.00
..               ...        ...        ...        ...        ...        ...
475           118750      26.75       2.17      15.25       5.07      10.00
476           119000      30.75       2.49       9.25       2.05      17.00
477           119250      35.50       4.33      18.00       0.00      21.33
478           119500      27.25       2.17      17.50       3.84      15.75
479           119750      32.67       4.50      16.25       3.49      12.33

     var_rss23
0         0.00
1         7.38
2         2.62
3         7.40
4         2.94
..         ...
475       5.10
476       1.41
477       2.05
478       1.48
479       7.85

[480 rows x 7 columns]
     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      35.00       3.67      16.50       3.77      14.00
1                250      28.50       3.35      17.50       3.77      12.25
2                500      35.50       2.87      15.75       2.86      17.75
3                750      29.75      12.19      16.25       2.17      20.75
4               1000      27.00       2.12      16.75       0.83      24.75
..               ...        ...        ...        ...        ...        ...
475           118750      35.50       4.27      15.67       4.78      17.00
476           119000      30.75       2.49      18.50       4.15      18.00
477           119250      36.00       2.94      16.25       1.30      16.67
478           119500      37.40       6.15      10.25       5.31      14.60
479           119750      34.67       1.25      18.00       1.87       9.33

     var_rss23
0         1.63
1         3.90
2         5.07
3         2.59
4         1.64
..         ...
475       1.41
476       1.41
477       3.09
478       4.32
479       6.02

[480 rows x 7 columns]
     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      24.50       4.77      16.50       4.50      13.75
1                250      40.00       5.24      19.25       2.86      12.25
2                500      40.00       2.83      17.00       1.41      16.75
3                750      37.75       0.83      16.00       5.15      16.25
4               1000      36.50       5.36      18.25       2.17      11.50
..               ...        ...        ...        ...        ...        ...
475           118750      27.75       5.76      13.25       1.30      16.25
476           119000      38.25       5.12      14.75       2.17      15.00
477           119250      34.00       2.83      17.00       5.39       9.00
478           119500      29.00       5.72      12.00       6.60      12.67
479           119750      38.67       5.79      13.00       1.41      15.75

     var_rss23
0         2.38
1         4.32
2         4.71
3         7.12
4         4.27
..         ...
475       2.49
476       6.36
477       4.97
478       5.44
479       3.34

[480 rows x 7 columns]
     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      24.75       5.76      13.25       3.03      18.75
1                250      36.25       7.26      15.00       3.67      17.75
2                500      37.00       3.94      20.25       1.30      16.25
3                750      33.75       3.27      19.50       4.50      15.00
4               1000      34.25       5.21      17.00       1.22      14.25
..               ...        ...        ...        ...        ...        ...
475           118750      36.00       2.45      17.00       5.10      20.50
476           119000      34.33       1.89      15.00       2.45      17.00
477           119250      33.00       7.35      14.60       3.14      13.00
478           119500      31.67       1.25      11.00       6.16      19.25
479           119750      30.75      10.21      11.75       1.09      18.50

     var_rss23
0         1.48
1         2.86
2         1.64
3         2.12
4         4.15
..         ...
475       0.87
476       2.12
477       5.70
478       2.17
479       3.20

[480 rows x 7 columns]
     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      35.75       7.05      16.00       3.16      14.75
1                250      39.00       3.00      21.00       1.00      17.00
2                500      31.00       6.20      15.75       0.83      22.00
3                750      42.75       3.34      17.25       2.17      19.25
4               1000      41.00       0.71      13.00       3.39      13.50
..               ...        ...        ...        ...        ...        ...
475           118750      37.25       4.92      18.75       2.86      18.50
476           119000      30.00       4.95       8.75       5.63      17.00
477           119250      38.50       3.35      16.33       3.30      13.00
478           119500      37.50       1.50      18.67       2.49      16.33
479           119750      38.33       1.70      14.50       2.69      11.67

     var_rss23
0         3.90
1         5.79
2         1.00
3         3.03
4         7.02
..         ...
475       2.60
476       3.39
477       5.72
478       1.25
479       4.50

[480 rows x 7 columns]

     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      42.33       3.40      16.25       3.11      18.00
1                250      30.25       6.94      22.25       3.03      16.75
2                500      30.00       5.72      20.50       3.04      22.33
3                750      35.67       5.31      16.67       1.25      21.00
4               1000      39.00       1.22      17.75       2.77      21.50
..               ...        ...        ...        ...        ...        ...
475           118750      36.50       2.87      18.50       2.29      16.00
476           119000      35.00       9.70      18.67       0.94      18.33
477           119250      28.25       4.82      16.00       3.27      22.00
478           119500      32.25       8.26      12.50       4.15      15.25
479           119750      40.50       4.97      13.75       4.60      12.00

     var_rss23
0         2.45
1         5.49
2         1.25
3         2.55
4         0.87
..         ...
475       2.16
476       2.05
477       5.66
478       2.77
479       6.00

[480 rows x 7 columns]
     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      33.50       2.87      16.25       3.42      14.00
1                250      27.75       1.30      16.00       2.92      13.75
2                500      32.25       5.76      14.25       4.32      20.50
3                750      34.50       1.50      15.00       0.00      13.00
4               1000      34.25       3.49      12.67       5.25      15.25
..               ...        ...        ...        ...        ...        ...
475           118750      26.00       1.63      15.67       2.62      18.00
476           119000      37.33       6.13       8.67       5.79      10.75
477           119250      37.75       5.45      19.50       1.12      12.33
478           119500      37.00       1.73      13.75       3.42      17.25
479           119750      42.50       2.29      13.25       2.17      18.25

     var_rss23
0         5.00
1         3.49
2         2.87
3        10.00
4         3.27
..         ...
475       5.05
476       3.03
477       1.25
478       6.53
479       4.02

[480 rows x 7 columns]
     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      29.75       0.43      18.75       4.44      20.00
1                250      41.25       4.44      17.33       4.50      14.67
2                500      34.50       8.87       9.25       2.95      18.00
3                750      31.33       6.60      13.75       2.77      22.00
4               1000      29.67       8.50      17.67       6.94      17.25
..               ...        ...        ...        ...        ...        ...
475           118750      26.00      10.17      13.75       2.49      18.75
476           119000      26.00       8.12      11.75       2.77      14.00
477           119250      39.00       2.12      17.25       4.26      16.00
478           119500      36.25       2.17      16.00       5.10      14.25
479           119750      36.25       6.83      12.67       0.47      12.75

     var_rss23
0         2.12
1         3.68
2         6.04
3         1.41
4         5.67
..         ...
475       3.27
476       5.52
477       3.67
478       3.27
479       6.18

[480 rows x 7 columns]
     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      37.75       8.93      16.25       5.07      17.00
1                250      35.25       2.49      11.33       4.92      13.67
2                500      38.33       3.86      19.25       1.48      18.67
3                750      40.50       3.57      17.50       1.80      16.00
4               1000      30.00       0.00      19.67       1.89      16.75
..               ...        ...        ...        ...        ...        ...
475           118750      34.50       6.18       9.00       3.56      12.67
476           119000      25.75       6.02      13.75       2.05      16.00
477           119250      31.50       3.35      10.25       5.12      16.25
478           119500      33.75       2.77      14.00       3.24      13.75
479           119750      37.00       1.41      18.25       3.70      11.00

     var_rss23
0         4.36
1         2.36
2         2.05
3         6.20
4         3.42
..         ...
475       4.19
476       1.58
477       2.95
478       0.43
479       4.32

[480 rows x 7 columns]
     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      31.50       3.77      14.50       2.29      17.00
1                250      27.00       2.12      16.75       2.86      20.00
2                500      34.00       4.53      16.67       1.70      16.33
3                750      32.00       4.58      21.25       2.77      17.00
4               1000      35.33       2.49      18.50       3.50      16.00
..               ...        ...        ...        ...        ...        ...
475           118750      39.33       0.47      10.00       2.16       7.00
476           119000      39.25       2.49      12.50       1.66      10.75
477           119250      40.00       8.22      15.75       2.05      14.00
478           119500      29.50       6.50      18.00       1.87      17.00
479           119750      28.00       5.10      16.50       1.50      16.50

     var_rss23
0         4.58
1         2.12
2         3.09
3         1.22
4         2.83
..         ...
475       4.85
476       4.49
477       4.42
478       3.67
479       3.35

[480 rows x 7 columns]
     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      24.25      12.38      16.25       5.40      19.50
1                250      40.25       2.49      12.75       4.32      23.25
2                500      37.50       3.35      17.25       2.28      21.25
3                750      34.25       2.77      18.33       0.47      13.33
4               1000      40.50       3.20      13.00       1.73      20.25
..               ...        ...        ...        ...        ...        ...
475           118750      41.00       3.41      18.00       1.67      14.50
476           119000      27.00       3.08      20.00       0.71      20.50
477           119250      29.00       1.41      10.00       3.56      18.25
478           119500      36.00       6.28      17.75       2.17      16.00
479           119750      38.25       3.90      18.00       3.67      19.50

     var_rss23
0         4.50
1         1.30
2         3.90
3         6.55
4         0.83
..         ...
475       0.50
476       1.66
477       3.90
478       2.55
479       2.29

[480 rows x 7 columns]
     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      32.25       5.76      14.00       4.36      18.00
1                250      37.75       5.07      15.50       3.20      14.75
2                500      34.50       2.60      20.00       4.74      20.50
3                750      23.75       5.36      11.75       6.22      14.25
4               1000      41.25       3.77      15.00       6.63      11.50
..               ...        ...        ...        ...        ...        ...
475           118750      31.50       1.66      12.50       3.20      14.25
476           119000      27.33       1.25      11.33       0.94      20.00
477           119250      37.80       7.68      14.20       2.48      17.25
478           119500      33.75       1.30      15.75       5.21      16.50
479           119750      32.67       3.09      18.67       0.47      14.00

     var_rss23
0         2.12
1         1.79
2         2.87
3         3.77
4         2.69
..         ...
475       4.44
476       4.00
477       0.83
478       2.69
479       3.16

[480 rows x 7 columns]
     # Columns: time  avg_rss12  var_rss12  avg_rss13  var_rss13  avg_rss23  \
0                  0      32.25       3.27      14.50       6.02      13.25
1                250      37.50       1.12      16.75       4.60      17.25
2                500      34.00       7.45      18.00       0.00      16.00
3                750      28.75       4.02      14.50       1.50      15.00
4               1000      37.50       5.41      15.25       4.44      14.67
..               ...        ...        ...        ...        ...        ...
475           118750      31.50       1.66      12.50       3.20      14.25
476           119000      27.33       1.25      11.33       0.94      20.00
477           119250      37.80       7.68      14.20       2.48      17.25
478           119500      33.75       1.30      15.75       5.21      16.50
479           119750      32.67       3.09      18.67       0.47      14.00

     var_rss23
0         4.02
1         4.32
2         2.55
3         2.55
4         1.25
..         ...
475       4.44
476       4.00
477       0.83
478       2.69
479       3.16

[7200 rows x 7 columns]

In [15]:
walking1.reset_index(drop=True, inplace=True)
walking1

,# Columns: time,avg_rss12,var_rss12,avg_rss13,var_rss13,avg_rss23,var_rss23
0,0,32.25,3.27,14.50,6.02,13.25,4.02
1,250,37.50,1.12,16.75,4.60,17.25,4.32
2,500,34.00,7.45,18.00,0.00,16.00,2.55
3,750,28.75,4.02,14.50,1.50,15.00,2.55
4,1000,37.50,5.41,15.25,4.44,14.67,1.25
...,...,...,...,...,...,...,...
7195,118750,31.50,1.66,12.50,3.20,14.25,4.44
7196,119000,27.33,1.25,11.33,0.94,20.00,4.00
7197,119250,37.80,7.68,14.20,2.48,17.25,0.83
7198,119500,33.75,1.30,15.75,5.21,16.50,2.69
7199,119750,32.67,3.09,18.67,0.47,14.00,3.16

In [16]:
bending1_test=bending1.iloc[:960,:]
bending1_train=bending1.iloc[960:,:]
bending2_test=bending2.iloc[:960,:]
bending2_train=bending2.iloc[960:,:]
cycling1_test=cycling1.iloc[:1440,:]
cycling1_train=cycling1.iloc[1440:,:]
lying1_test=lying1.iloc[:1440,:]
lying1_train=lying1.iloc[1440:,:]
sitting1_test=sitting1.iloc[:1440,:]
sitting1_train=sitting1.iloc[1440:,:]
standing1_train=standing1.iloc[1440:,:]
standing1_test=standing1.iloc[:1440,:]
walking1_test=walking1.iloc[:1440,:]
walking1_train=walking1.iloc[1440:,:]

In [17]:
train_set=pd.concat([bending1_train,bending2_train,cycling1_train,lying1_train,sitting1_train,standing1_train,walking1_train],
                axis=0,ignore_index=True)

In [18]:
train_set.describe()

,# Columns: time,avg_rss12,var_rss12,avg_rss13,var_rss13,avg_rss23,var_rss23
count,33119.000000,33119.000000,33119.000000,33119.000000,33119.000000,33119.000000,33119.000000
mean,59876.400254,38.987651,1.483490,14.232906,1.529653,16.188722,1.646312
std,34641.049621,6.489242,2.057215,5.513791,1.645825,7.038515,1.649270
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,30000.000000,35.000000,0.430000,11.330000,0.430000,12.000000,0.470000
50%,60000.000000,40.000000,0.500000,15.000000,0.870000,16.000000,1.000000
75%,89875.000000,44.000000,1.890000,18.000000,2.360000,19.250000,2.380000
max,119750.000000,56.250000,17.240000,35.000000,11.420000,38.670000,13.610000

In [19]:
test_set=pd.concat([bending1_test,bending2_test,cycling1_test,lying1_test,sitting1_test,standing1_test,walking1_test],
                 axis=0,ignore_index=True)

# (C)i

In [20]:
# Statistical Features:
#    a. Mean
#    b. Median
 #   c. Standard Deviation
 #   d. Minimum & Maximum
#Time Series Analysis Related Features:
 #   a. Cross Correlation
 #   b. Auto Correlation
 #   c. Parameters of Moving Average (MA) part of ARIMA model
 #   d. Orders of AR, Integrated (I) and MA part of ARIMA model

# (C) ii

In [21]:
df_new1=pd.DataFrame(index=[0,1,2,3,4,5,6])
for i in range(7):
    df=bending1.iloc[i*480:480*(i+1),:]
    stat=df.describe()
    stat=stat.drop(['# Columns: time'], axis=1)
    mean=stat.T["mean"]
    std=stat.T["std"]
    min1=stat.T["min"]
    max1=stat.T["max"]
    first=stat.T["25%"]
    median=stat.T["50%"]
    third=stat.T["75%"]
    df_stat=pd.concat([mean,std,min1,max1,first,median,third],axis=0,ignore_index=True)
    df_stat.T
    df_new1=pd.concat([df_new1,df_stat.T],axis=1,ignore_index=True)

In [22]:
stat_1=df_new1
stat_1.T

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,41
0,43.969125,0.413125,15.868021,0.666354,22.103750,0.555313,1.618364,0.263111,3.742420,0.788985,...,16.250,0.47,21.67,0.49,44.67,0.50,18.0000,0.940,23.75,0.83
1,43.454958,0.378083,15.793333,0.849354,23.034792,0.679646,1.386098,0.315566,3.847638,0.995761,...,15.000,0.50,23.50,0.50,45.00,0.50,18.2700,1.120,24.00,0.87
2,42.179813,0.696042,22.183625,0.989917,33.493917,0.613521,3.670666,0.630860,3.810469,0.953730,...,23.000,0.83,35.00,0.50,45.00,1.12,24.3725,1.300,36.33,1.00
3,41.678063,0.535979,19.006562,0.841875,29.857083,0.383292,2.243490,0.405469,4.087107,0.928801,...,19.125,0.50,30.00,0.43,42.75,0.71,22.0625,1.120,31.25,0.50
4,40.624792,0.358604,19.040937,0.832542,34.311292,0.570583,1.476967,0.322605,4.462952,0.965659,...,19.250,0.50,35.00,0.43,42.00,0.50,23.2500,1.120,36.00,1.30
5,42.812812,0.372438,20.096979,0.876438,33.024583,0.571083,1.435550,0.289158,3.893737,1.047259,...,21.000,0.50,33.00,0.43,43.67,0.50,22.2500,1.145,34.50,1.30
6,43.954500,0.426250,22.122354,0.497313,35.588458,0.493292,1.558835,0.338690,3.030943,0.550657,...,23.000,0.43,36.00,0.43,45.00,0.50,24.0000,0.830,36.50,0.94

In [23]:
df_new2=pd.DataFrame(index=[0,1,2,3,4,5,6])
for i in range(6):
    df=bending2.iloc[i*480:480*(i+1),:]
    stat2=df.describe()
    stat2=stat2.drop(['# Columns: time'], axis=1)
    mean=stat2.T["mean"]
    std=stat2.T["std"]
    min1=stat2.T["min"]
    max1=stat2.T["max"]
    first=stat2.T["25%"]
    median=stat2.T["50%"]
    third=stat2.T["75%"]
    df_stat2=pd.concat([mean,std,min1,max1,first,median,third],axis=0,ignore_index=True)
    df_stat2.T
    df_new2=pd.concat([df_new2,df_stat2.T],axis=1,ignore_index=True)

In [24]:
stat_2=df_new2
stat_2.T

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,41
0,31.058250,0.405458,15.296667,0.823542,14.407187,1.098104,4.829794,0.566668,4.841975,0.902248,...,15.00,0.50,13.000,0.94,31.8125,0.5000,17.75,1.12,18.3125,1.30
1,29.881938,0.256438,8.166250,0.544646,18.117896,0.701625,1.153837,0.275833,3.403613,0.644369,...,8.75,0.47,18.000,0.71,30.2700,0.4700,11.25,0.71,19.0000,0.94
2,30.938104,0.467167,14.589833,0.777542,18.389083,1.107354,7.684146,0.734444,7.638935,1.014102,...,15.75,0.47,17.500,0.83,38.0000,0.5000,20.69,1.12,20.8125,1.30
3,24.562958,0.590833,19.121333,0.736771,23.493042,0.700188,3.737514,0.837408,4.299612,0.927048,...,20.25,0.47,23.750,0.50,26.5000,0.7100,22.00,0.87,27.0000,0.87
4,27.464604,0.449708,20.842542,0.779917,17.617937,1.122125,3.583582,0.767197,3.826268,0.904436,...,20.75,0.50,18.000,0.83,30.0000,0.5000,22.50,0.94,20.7500,1.30
5,32.586208,0.516125,13.941625,0.868896,20.345708,1.162042,6.238143,0.789957,5.883266,1.027013,...,14.25,0.50,19.585,0.83,34.5000,0.8225,18.00,1.12,23.5000,1.30

In [25]:
df_new3=pd.DataFrame(index=[0,1,2,3,4,5,6])
for i in range(15):
    df=cycling1.iloc[i*480:480*(i+1),:]
    stat3=df.describe()
    stat3=stat3.drop(['# Columns: time'], axis=1)
    mean=stat3.T["mean"]
    std=stat3.T["std"]
    min1=stat3.T["min"]
    max1=stat3.T["max"]
    first=stat3.T["25%"]
    median=stat3.T["50%"]
    third=stat3.T["75%"]
    df_stat3=pd.concat([mean,std,min1,max1,first,median,third],axis=0,ignore_index=True)
    df_stat3.T
    df_new3=pd.concat([df_new3,df_stat3.T],axis=1,ignore_index=True)

In [26]:
stat_3=df_new3
stat_3.T

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,41
0,36.863375,2.757312,16.494750,3.013604,16.581146,2.773312,3.555787,2.115958,3.588183,1.774531,...,16.00,2.860,16.750,2.590,39.7500,4.0225,19.0000,4.0675,18.6700,3.6325
1,37.114312,2.730000,16.663917,3.138542,16.487542,3.076354,3.710385,1.924366,3.612221,1.847680,...,16.67,2.870,16.670,2.770,40.2500,3.7175,18.8125,4.1100,18.5000,4.0375
2,36.228396,2.831687,15.424500,3.119125,15.872375,3.480687,3.528617,1.886689,3.249834,1.683513,...,15.25,2.940,16.000,3.340,39.0000,3.8450,17.5000,4.2175,18.0625,4.5500
3,36.687292,2.973042,18.396792,2.976604,16.480000,3.073312,3.529404,2.073903,3.771098,1.861730,...,18.00,2.685,16.750,2.690,39.3725,4.2625,20.7500,4.0900,18.5000,4.0875
4,37.177042,2.374208,16.531083,2.910604,19.607250,2.921729,3.581301,1.601799,3.430906,1.600137,...,16.67,2.620,20.000,2.500,40.2500,3.1300,19.0000,3.9175,21.7500,3.9000
5,37.561188,2.080688,16.567042,3.033875,19.518896,2.765896,3.226507,1.639258,3.691401,1.625415,...,17.00,2.950,20.000,2.450,40.2500,2.8700,19.5000,4.0300,21.5000,3.7700
6,37.058708,2.438146,16.388312,2.980688,18.125958,2.983750,3.710180,1.996887,3.537950,1.612059,...,16.50,2.860,18.875,2.570,40.0625,3.3500,19.0000,4.0000,21.0000,4.1500
7,36.819521,2.600146,15.302625,2.937021,17.296271,2.887562,3.900459,1.821404,3.504933,1.661464,...,15.00,2.620,17.415,2.525,40.2500,3.8700,17.6700,3.8700,19.2700,3.7700
8,36.541667,2.847958,16.156063,3.055458,17.062625,3.225458,4.018922,1.892397,3.439020,1.742389,...,16.00,2.870,16.750,2.870,39.8125,4.1500,18.0500,4.0300,19.5000,4.2625
9,35.879875,3.414312,16.690375,3.128354,17.078312,3.093021,4.614878,2.237955,3.009363,1.779470,...,17.00,2.870,17.000,2.930,39.5000,4.8450,18.6900,4.3225,19.6900,4.0600
10,35.752354,3.328104,16.055021,2.871125,16.001271,3.069667,4.614802,2.140576,3.446146,1.704820,...,16.00,2.650,16.250,2.770,39.3300,4.3300,18.3300,3.7800,18.0625,4.0600
11,37.177042,2.374208,16.531083,2.910604,19.607250,2.921729,3.581301,1.601799,3.430906,1.600137,...,16.67,2.620,20.000,2.500,40.2500,3.1300,19.0000,3.9175,21.7500,3.9000
12,36.244083,2.736021,18.435708,3.129792,18.497146,3.530500,3.822016,2.092002,4.021629,1.810499,...,18.33,2.895,18.500,3.110,39.2500,3.7400,21.0000,4.2400,21.0000,4.6175
13,36.957458,2.420083,15.313417,2.784146,15.989167,2.934625,3.434863,1.724901,3.034030,1.542972,...,15.25,2.565,16.330,2.525,40.2500,3.3500,17.3300,3.7700,18.2500,4.0300
14,37.144833,2.419062,14.998479,2.849625,16.773521,2.822437,3.758904,1.643175,3.289537,1.715185,...,15.00,2.500,17.000,2.590,40.5000,3.3675,17.2500,3.9000,18.7500,3.7400

In [27]:
df_new4=pd.DataFrame(index=[0,1,2,3,4,5,6])
for i in range(15):
    df=lying1.iloc[i*480:480*(i+1),:]
    stat4=df.describe()
    stat4=stat4.drop(['# Columns: time'], axis=1)
    mean=stat4.T["mean"]
    std=stat4.T["std"]
    min1=stat4.T["min"]
    max1=stat4.T["max"]
    first=stat4.T["25%"]
    median=stat4.T["50%"]
    third=stat4.T["75%"]
    df_stat4=pd.concat([mean,std,min1,max1,first,median,third],axis=0,ignore_index=True)
    df_stat4.T
    df_new4=pd.concat([df_new4,df_stat4.T],axis=1,ignore_index=True)

In [28]:
stat_4=df_new4
stat_4.T

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,41
0,39.433792,0.422104,5.841146,0.399021,10.897458,0.582708,0.208558,0.160379,3.497858,0.438667,...,6.00,0.43,11.50,0.50,39.50,0.50,8.75,0.5000,12.3300,0.83
1,39.506187,0.496479,6.550083,0.823854,11.765625,0.622917,1.817498,0.145546,2.607081,0.760194,...,7.00,0.50,12.00,0.50,39.67,0.50,8.75,1.1200,13.0000,0.87
2,42.706063,0.519813,10.909958,0.332063,4.303979,0.549313,3.537476,0.484086,3.208411,0.599695,...,12.00,0.00,2.25,0.47,48.00,0.83,12.00,0.4700,8.0000,0.83
3,39.667833,0.583604,10.834208,0.347438,5.779479,0.635938,0.280158,0.194585,2.469508,0.409145,...,12.00,0.43,5.75,0.50,39.75,0.71,12.00,0.5000,9.3300,0.83
4,27.716375,0.363688,6.078563,0.871021,8.337438,0.734271,1.442253,0.394817,3.468994,0.777400,...,6.25,0.82,8.75,0.71,29.00,0.50,8.33,1.2625,10.7500,1.00
5,44.182937,0.101875,6.679958,0.584104,4.376292,0.692771,7.495615,0.346756,1.936492,0.749945,...,6.25,0.43,3.33,0.50,48.00,0.00,7.50,0.7100,5.5425,0.94
6,48.004167,0.007167,4.900563,0.397313,7.624896,0.641229,0.032038,0.055106,2.566429,0.447127,...,5.50,0.43,9.00,0.50,48.00,0.00,6.25,0.5000,10.0000,0.83
7,27.716375,0.363688,6.078104,0.870042,8.337021,0.735396,1.442253,0.394817,3.468655,0.777420,...,6.25,0.82,8.75,0.71,29.00,0.50,8.33,1.2625,10.7500,1.00
8,48.004167,0.007167,4.900563,0.397313,7.624896,0.641229,0.032038,0.055106,2.566429,0.447127,...,5.50,0.43,9.00,0.50,48.00,0.00,6.25,0.5000,10.0000,0.83
9,39.433792,0.422104,5.841146,0.399021,10.897458,0.582708,0.208558,0.160379,3.497858,0.438667,...,6.00,0.43,11.50,0.50,39.50,0.50,8.75,0.5000,12.3300,0.83
10,39.667833,0.583604,10.834208,0.347438,5.779479,0.635938,0.280158,0.194585,2.469508,0.409145,...,12.00,0.43,5.75,0.50,39.75,0.71,12.00,0.5000,9.3300,0.83
11,27.716375,0.363688,6.078563,0.871021,8.337438,0.734271,1.442253,0.394817,3.468994,0.777400,...,6.25,0.82,8.75,0.71,29.00,0.50,8.33,1.2625,10.7500,1.00
12,47.325125,0.274313,9.531937,0.785729,14.299125,0.766167,5.961280,0.562729,3.987098,0.811636,...,10.75,0.50,14.00,0.50,54.00,0.47,12.75,1.0000,18.0000,1.00
13,39.347104,0.366396,4.382208,0.502917,16.212313,0.588458,0.231405,0.195815,2.456799,0.504672,...,4.50,0.47,16.75,0.50,39.50,0.50,6.00,0.7100,17.6700,0.83
14,47.325125,0.274313,9.531937,0.785729,14.299125,0.766167,5.961280,0.562729,3.987098,0.811636,...,10.75,0.50,14.00,0.50,54.00,0.47,12.75,1.0000,18.0000,1.00

In [29]:
df_new5=pd.DataFrame(index=[0,1,2,3,4,5,6])
for i in range(15):
    df=sitting1.iloc[i*480:480*(i+1),:]
    stat5=df.describe()
    stat5=stat5.drop(['# Columns: time'], axis=1)
    mean=stat5.T["mean"]
    std=stat5.T["std"]
    min1=stat5.T["min"]
    max1=stat5.T["max"]
    first=stat5.T["25%"]
    median=stat5.T["50%"]
    third=stat5.T["75%"]
    df_stat5=pd.concat([mean,std,min1,max1,first,median,third],axis=0,ignore_index=True)
    df_stat5.T
    df_new5=pd.concat([df_new5,df_stat5.T],axis=1,ignore_index=True)

In [30]:
stat_5=df_new5
stat_5.T

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,41
0,38.888375,0.383438,14.854167,0.654271,16.522021,0.840208,3.642901,0.488937,3.926922,0.708297,...,15.00,0.470,17.750,0.82,42.00,0.50,18.000,0.870,20.75,1.090
1,32.905979,0.456750,16.305917,0.664792,18.087229,0.791354,3.505776,0.538783,5.164883,0.768114,...,18.50,0.470,19.250,0.71,37.00,1.00,21.000,0.870,20.75,1.000
2,44.753958,0.153917,18.579604,0.625313,19.265083,0.764083,0.520309,0.258815,4.128090,0.675658,...,19.25,0.470,19.000,0.70,45.00,0.43,21.000,0.830,21.69,1.000
3,36.560063,0.422167,14.894833,0.740521,17.149729,0.854833,5.915081,0.772992,5.459765,0.832856,...,15.33,0.495,18.000,0.83,42.50,0.82,20.270,0.940,19.00,1.145
4,42.363563,0.492563,17.119292,0.641854,13.381771,1.034021,2.068247,0.403581,3.141010,0.760958,...,18.00,0.450,13.125,0.83,43.50,0.50,19.330,0.870,17.69,1.250
5,45.917667,0.324542,16.871542,0.696375,18.442792,0.904604,1.089027,0.365820,5.359859,0.857231,...,18.75,0.470,19.330,0.71,46.50,0.50,21.000,0.870,21.00,1.120
6,45.239667,0.172958,12.813313,1.108688,19.330667,0.837250,0.429915,0.251176,4.191913,1.015271,...,13.00,0.830,20.000,0.71,45.33,0.43,15.250,1.480,21.00,1.120
7,40.219271,0.617479,14.851229,0.872229,15.167271,1.057729,2.741217,0.485417,4.929224,0.988865,...,16.00,0.495,15.250,0.83,42.50,1.00,18.250,1.220,19.75,1.300
8,43.884833,0.517354,14.997375,1.047688,14.920542,1.354917,3.198894,0.394064,5.621781,1.097028,...,15.00,0.820,15.875,1.09,46.50,0.71,18.750,1.480,19.25,1.700
9,42.282667,0.498354,9.469542,0.899646,12.537187,0.869000,1.356149,0.147984,5.313780,0.836194,...,10.00,0.820,12.000,0.82,44.33,0.50,14.000,1.250,18.25,1.000
10,42.111583,0.341938,11.442250,0.889396,12.973917,0.961167,1.122245,0.295805,4.539665,1.072168,...,12.00,0.500,13.290,0.82,42.00,0.50,14.750,0.955,17.25,1.220
11,42.728854,0.555333,15.823646,0.758271,16.408937,0.892083,2.046362,0.382544,4.879743,0.907715,...,16.50,0.470,17.670,0.71,44.50,0.50,20.000,1.000,19.00,1.220
12,42.360187,0.482500,12.884542,0.620063,15.260438,0.719813,1.017372,0.246389,4.012884,0.747947,...,12.75,0.470,13.250,0.50,43.25,0.50,15.000,0.830,22.00,0.830
13,42.820271,0.334979,17.202938,0.531813,16.034458,0.855958,0.891676,0.260536,3.894578,0.763250,...,18.00,0.430,17.000,0.82,43.50,0.50,20.000,0.710,19.00,1.090
14,43.193340,0.266827,14.850188,0.509541,16.034384,0.806180,1.230424,0.271598,4.729424,0.543067,...,15.00,0.470,16.000,0.82,44.50,0.50,18.365,0.710,18.29,1.090

In [31]:
df_new6=pd.DataFrame(index=[0,1,2,3,4,5,6])
for i in range(15):
    df=standing1.iloc[i*480:480*(i+1),:]
    stat6=df.describe()
    stat6=stat6.drop(['# Columns: time'], axis=1)
    mean=stat6.T["mean"]
    std=stat6.T["std"]
    min1=stat6.T["min"]
    max1=stat6.T["max"]
    first=stat6.T["25%"]
    median=stat6.T["50%"]
    third=stat6.T["75%"]
    df_stat6=pd.concat([mean,std,min1,max1,first,median,third],axis=0,ignore_index=True)
    df_stat6.T
    df_new6=pd.concat([df_new6,df_stat6.T],axis=1,ignore_index=True)

In [32]:
stat_6=df_new6
stat_6.T

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,41
0,46.224937,0.312354,15.031687,0.598500,13.394021,0.882583,1.748315,0.464541,4.313438,0.679233,...,15.585,0.470,13.500,0.83,48.0000,0.500,18.5000,0.8300,15.2500,1.120
1,44.471146,0.290479,17.948542,0.566250,13.210083,0.927375,1.772553,0.392914,2.513796,0.700981,...,18.500,0.430,13.000,0.83,45.2500,0.500,19.3300,0.7100,14.8125,1.220
2,42.648521,0.402833,18.129292,0.467979,12.060417,0.917354,2.395338,0.413719,2.850422,0.687213,...,18.500,0.430,12.290,0.83,45.0000,0.500,19.7500,0.5000,14.2500,1.120
3,43.720021,0.366708,17.010271,0.544333,13.198271,1.039688,2.384105,0.374117,2.712219,0.743740,...,17.750,0.430,13.750,0.83,45.0000,0.500,18.7500,0.7100,15.5425,1.220
4,44.334729,0.432958,11.646146,0.843063,13.443708,0.933000,2.476940,0.370591,3.698519,0.888806,...,12.250,0.500,14.750,0.83,46.5000,0.500,14.5000,1.2200,17.7500,1.250
5,43.174938,0.506583,12.771333,0.686688,14.285500,0.911979,1.989052,0.307413,3.289489,0.765337,...,13.000,0.485,14.670,0.83,44.5000,0.500,15.0000,0.8700,16.5000,1.220
6,42.760563,0.486167,15.036833,0.588875,15.550812,0.842271,3.398919,0.446511,3.121792,0.700999,...,15.250,0.430,16.585,0.71,45.3725,0.500,17.0000,0.7100,18.5650,1.090
7,42.419917,0.460563,16.320542,0.749896,10.067750,1.226271,2.520129,0.387405,2.466757,0.667631,...,16.750,0.500,9.750,1.09,44.6175,0.505,18.0000,1.0375,12.0000,1.585
8,42.516958,0.440688,13.218729,0.799938,14.639750,0.977417,2.195751,0.349430,4.735349,0.867768,...,13.500,0.500,15.000,0.83,44.5000,0.500,17.5000,1.0200,17.5000,1.220
9,42.674583,0.419167,12.110708,0.567500,14.247458,0.702042,2.384170,0.368383,3.556720,0.718364,...,12.670,0.430,14.500,0.50,44.7500,0.500,14.3300,0.8200,16.5000,0.940
10,42.959354,0.352875,11.780437,0.564188,14.946021,0.748479,1.500878,0.313585,3.021746,0.638179,...,12.000,0.470,15.250,0.82,44.3300,0.500,13.3300,0.8300,16.6900,0.950
11,44.441187,0.346604,13.356271,0.645583,12.611542,1.155083,2.417797,0.358113,2.955021,0.718203,...,13.500,0.470,12.750,0.94,45.7500,0.500,15.5000,0.8300,14.6700,1.500
12,43.187521,0.271271,12.728104,0.642708,18.201437,0.645458,2.491162,0.328807,3.859887,0.677273,...,12.710,0.470,18.250,0.50,45.0000,0.500,15.0625,0.8700,21.0000,0.830
13,46.932208,0.429667,16.847854,0.535438,13.281875,0.991125,1.832665,0.367267,2.617513,0.713323,...,18.000,0.430,13.670,0.83,47.7500,0.500,18.2500,0.7100,15.5000,1.220
14,45.399625,0.460146,17.671396,0.441313,12.428542,0.795104,1.328121,0.269889,1.745801,0.478166,...,18.000,0.430,13.125,0.82,46.3300,0.500,18.3300,0.5000,14.5000,1.000

In [33]:
df_new7=pd.DataFrame(index=[0,1,2,3,4,5,6])
for i in range(15):
    df=walking1.iloc[i*480:480*(i+1),:]
    stat7=df.describe()
    stat7=stat7.drop(['# Columns: time'], axis=1)
    mean=stat7.T["mean"]
    std=stat7.T["std"]
    min1=stat7.T["min"]
    max1=stat7.T["max"]
    first=stat7.T["25%"]
    median=stat7.T["50%"]
    third=stat7.T["75%"]
    df_stat7=pd.concat([mean,std,min1,max1,first,median,third],axis=0,ignore_index=True)
    df_stat7.T
    df_new7=pd.concat([df_new7,df_stat7.T],axis=1,ignore_index=True)

In [34]:
stat_7=df_new7
stat_7.T

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,41
0,34.333042,4.396958,15.562896,3.198312,15.864438,3.261583,4.948770,2.568680,2.967741,1.676271,...,15.500,2.930,16.00,2.980,38.0000,5.7450,17.5000,4.2450,18.00,4.3200
1,34.935813,4.115750,15.524521,3.092792,15.997229,3.280021,4.645944,2.335243,2.900248,1.503446,...,15.500,2.870,16.25,3.015,38.0625,5.6250,17.6700,3.8400,18.25,4.5000
2,35.193333,4.321021,15.462229,3.072854,16.101208,3.241958,4.751868,2.625516,3.114222,1.508714,...,15.670,2.860,16.33,3.015,38.7500,5.8700,17.5000,4.0900,18.50,4.4400
3,34.763333,4.223792,15.239021,3.207062,16.299563,3.288271,4.742208,2.278004,2.920829,1.590472,...,15.330,3.000,16.25,3.270,38.2500,5.7225,17.2500,4.1950,18.33,4.3050
4,34.227771,3.995729,15.713083,3.303813,16.621167,3.394125,4.889576,2.271102,2.839695,1.667285,...,15.750,3.200,16.67,3.100,37.7500,5.3425,17.6700,4.4400,18.67,4.4250
5,33.509729,4.450771,15.557771,3.350854,16.541375,3.378479,4.850923,2.338685,2.912404,1.664378,...,15.635,3.110,16.75,3.085,36.7500,5.8900,17.5000,4.4400,18.75,4.4400
6,34.660583,4.200896,15.223188,3.111312,16.251042,3.244396,5.315110,2.480206,3.101017,1.688745,...,15.250,2.870,16.33,3.000,38.2500,5.6725,17.3300,4.0900,18.50,4.2400
7,34.253521,4.457896,15.246292,3.279146,15.716083,3.500750,4.940741,2.387192,2.960901,1.759379,...,15.250,3.100,15.75,3.285,37.7500,5.8900,17.2500,4.4025,18.00,4.5575
8,33.586875,4.576562,15.317854,3.227229,15.892146,3.259729,4.650935,2.461077,2.970440,1.647474,...,15.330,3.100,16.00,3.110,37.0000,6.1050,17.2700,4.2600,18.25,4.3225
9,34.546229,4.371958,15.185729,3.028687,15.759542,3.338125,4.842294,2.360448,2.757604,1.665184,...,15.250,2.860,15.75,3.080,37.8125,5.8000,17.0000,4.1100,17.75,4.3350
10,34.322750,4.456333,15.209771,3.277229,15.550458,3.432562,4.752477,2.599284,2.711022,1.500046,...,15.250,3.110,15.75,3.200,38.0000,5.9700,17.0000,4.3900,17.75,4.5650
11,34.473188,4.359312,15.424708,3.188271,15.704167,3.340458,4.796705,2.388746,2.802066,1.602504,...,15.500,3.030,16.00,3.090,38.0000,5.9000,17.3300,4.0375,17.75,4.3750
12,34.873229,4.380583,15.471188,3.205688,15.873896,3.424646,4.531720,2.435437,2.813077,1.519348,...,15.500,3.030,16.00,3.270,38.2500,5.9325,17.2500,4.1900,18.00,4.5000
13,34.599875,4.398833,15.173667,3.145500,16.055563,3.289542,4.731790,2.538521,3.036746,1.591346,...,15.000,3.015,16.00,3.015,38.0000,5.7675,17.3725,4.1575,18.25,4.2600
14,34.225875,4.354500,15.606479,3.365375,16.148000,3.479542,4.441798,2.518991,2.812274,1.730792,...,15.500,3.030,16.25,3.270,37.2500,5.7650,17.5000,4.4400,18.25,4.5375

In [35]:
df_statistic=pd.concat([stat_1,stat_2,stat_3,stat_4,stat_5,stat_6,stat_7],axis=1,ignore_index=True)

In [36]:
df_stat_new=df_statistic.T
df_stat_new

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,41
0,43.969125,0.413125,15.868021,0.666354,22.103750,0.555313,1.618364,0.263111,3.742420,0.788985,...,16.250,0.470,21.67,0.490,44.67,0.5000,18.0000,0.9400,23.75,0.8300
1,43.454958,0.378083,15.793333,0.849354,23.034792,0.679646,1.386098,0.315566,3.847638,0.995761,...,15.000,0.500,23.50,0.500,45.00,0.5000,18.2700,1.1200,24.00,0.8700
2,42.179813,0.696042,22.183625,0.989917,33.493917,0.613521,3.670666,0.630860,3.810469,0.953730,...,23.000,0.830,35.00,0.500,45.00,1.1200,24.3725,1.3000,36.33,1.0000
3,41.678063,0.535979,19.006562,0.841875,29.857083,0.383292,2.243490,0.405469,4.087107,0.928801,...,19.125,0.500,30.00,0.430,42.75,0.7100,22.0625,1.1200,31.25,0.5000
4,40.624792,0.358604,19.040937,0.832542,34.311292,0.570583,1.476967,0.322605,4.462952,0.965659,...,19.250,0.500,35.00,0.430,42.00,0.5000,23.2500,1.1200,36.00,1.3000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,34.322750,4.456333,15.209771,3.277229,15.550458,3.432562,4.752477,2.599284,2.711022,1.500046,...,15.250,3.110,15.75,3.200,38.00,5.9700,17.0000,4.3900,17.75,4.5650
84,34.473188,4.359312,15.424708,3.188271,15.704167,3.340458,4.796705,2.388746,2.802066,1.602504,...,15.500,3.030,16.00,3.090,38.00,5.9000,17.3300,4.0375,17.75,4.3750
85,34.873229,4.380583,15.471188,3.205688,15.873896,3.424646,4.531720,2.435437,2.813077,1.519348,...,15.500,3.030,16.00,3.270,38.25,5.9325,17.2500,4.1900,18.00,4.5000
86,34.599875,4.398833,15.173667,3.145500,16.055563,3.289542,4.731790,2.538521,3.036746,1.591346,...,15.000,3.015,16.00,3.015,38.00,5.7675,17.3725,4.1575,18.25,4.2600
87,34.225875,4.354500,15.606479,3.365375,16.148000,3.479542,4.441798,2.518991,2.812274,1.730792,...,15.500,3.030,16.25,3.270,37.25,5.7650,17.5000,4.4400,18.25,4.5375

In [37]:
df_stat_new.columns = ['mean1', 'std1', 'min1', 'max1','1stquart1','median1','3rdquart1',
                       'mean2', 'std2', 'min2', 'max2','1stquart2','median2','3rdquart2',
                       'mean3', 'std3', 'min3', 'max3','1stquart3','median3','3rdquart3',
                       'mean4', 'std4', 'min4', 'max4','1stquart4','median4','3rdquart4',
                       'mean5', 'std5', 'min5', 'max5','1stquart5','median5','3rdquart5',
                       'mean6', 'std6', 'min6', 'max6','1stquart6','median6','3rdquart6',
                       ]

In [38]:
df_stat_new

,mean1,std1,min1,max1,1stquart1,median1,3rdquart1,mean2,std2,min2,...,1stquart5,median5,3rdquart5,mean6,std6,min6,max6,1stquart6,median6,3rdquart6
0,43.969125,0.413125,15.868021,0.666354,22.103750,0.555313,1.618364,0.263111,3.742420,0.788985,...,16.250,0.470,21.67,0.490,44.67,0.5000,18.0000,0.9400,23.75,0.8300
1,43.454958,0.378083,15.793333,0.849354,23.034792,0.679646,1.386098,0.315566,3.847638,0.995761,...,15.000,0.500,23.50,0.500,45.00,0.5000,18.2700,1.1200,24.00,0.8700
2,42.179813,0.696042,22.183625,0.989917,33.493917,0.613521,3.670666,0.630860,3.810469,0.953730,...,23.000,0.830,35.00,0.500,45.00,1.1200,24.3725,1.3000,36.33,1.0000
3,41.678063,0.535979,19.006562,0.841875,29.857083,0.383292,2.243490,0.405469,4.087107,0.928801,...,19.125,0.500,30.00,0.430,42.75,0.7100,22.0625,1.1200,31.25,0.5000
4,40.624792,0.358604,19.040937,0.832542,34.311292,0.570583,1.476967,0.322605,4.462952,0.965659,...,19.250,0.500,35.00,0.430,42.00,0.5000,23.2500,1.1200,36.00,1.3000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,34.322750,4.456333,15.209771,3.277229,15.550458,3.432562,4.752477,2.599284,2.711022,1.500046,...,15.250,3.110,15.75,3.200,38.00,5.9700,17.0000,4.3900,17.75,4.5650
84,34.473188,4.359312,15.424708,3.188271,15.704167,3.340458,4.796705,2.388746,2.802066,1.602504,...,15.500,3.030,16.00,3.090,38.00,5.9000,17.3300,4.0375,17.75,4.3750
85,34.873229,4.380583,15.471188,3.205688,15.873896,3.424646,4.531720,2.435437,2.813077,1.519348,...,15.500,3.030,16.00,3.270,38.25,5.9325,17.2500,4.1900,18.00,4.5000
86,34.599875,4.398833,15.173667,3.145500,16.055563,3.289542,4.731790,2.538521,3.036746,1.591346,...,15.000,3.015,16.00,3.015,38.00,5.7675,17.3725,4.1575,18.25,4.2600
87,34.225875,4.354500,15.606479,3.365375,16.148000,3.479542,4.441798,2.518991,2.812274,1.730792,...,15.500,3.030,16.25,3.270,37.25,5.7650,17.5000,4.4400,18.25,4.5375

# C (iii)

In [39]:
pip install bootstrapped

Requirement already satisfied: bootstrapped in /opt/anaconda3/lib/python3.8/site-packages (0.0.2)
Requirement already satisfied: numpy>=1.11.1 in /opt/anaconda3/lib/python3.8/site-packages (from bootstrapped) (1.19.2)
Requirement already satisfied: matplotlib>=1.5.3 in /opt/anaconda3/lib/python3.8/site-packages (from bootstrapped) (3.3.2)
Requirement already satisfied: pandas>=0.18.1 in /opt/anaconda3/lib/python3.8/site-packages (from bootstrapped) (1.1.3)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=1.5.3->bootstrapped) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=1.5.3->bootstrapped) (1.3.0)
Requirement already satisfied: cycler>=0.10 in /opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=1.5.3->bootstrapped) (0.10.0)
Requirement already satisfied: certifi>=2020.06.20 in /opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=1.5.3->bootstrapped) (2021.10.8)
Requirement already satisfied: pillow>=6.2.0 in /opt/anaconda3/lib/python3.8/site-packages (from matplotlib>=1.5.3->bootstrapped) (8.0.1)
Requirement already satisfied: python-dateutil>=2.1 in /Users/chaixiaotang/.local/lib/python3.8/site-packages (from matplotlib>=1.5.3->bootstrapped) (2.8.0)
Requirement already satisfied: pytz>=2017.2 in /opt/anaconda3/lib/python3.8/site-packages (from pandas>=0.18.1->bootstrapped) (2020.1)
Requirement already satisfied: six in /Users/chaixiaotang/.local/lib/python3.8/site-packages (from cycler>=0.10->matplotlib>=1.5.3->bootstrapped) (1.12.0)
Note: you may need to restart the kernel to use updated packages.

In [40]:
import bootstrapped.bootstrap as bs
import bootstrapped.stats_functions as bs_stats

In [48]:
dic={}
for i in df_stat_new.columns:
    dic[i]=bs.bootstrap(np.asarray(df_stat_new[i]), stat_func=bs_stats.std,alpha=0.1)

In [42]:
dic

{'mean1': 5.305322905740701    (4.7652122055011645, 5.9285488771492965),
 'std1': 1.5651951448152541    (1.4331957046392951, 1.74088297640893),
 'min1': 3.9855537472326117    (3.4998077439117727, 4.592225655576666),
 'max1': 1.1594700826991695    (1.1032522479906806, 1.247353757716582),
 '1stquart1': 5.643253224291175    (4.594238772186552, 6.867085379047607),
 'median1': 1.1482325556136403    (1.088516608278775, 1.2401876381985766),
 '3rdquart1': 1.7620565988508383    (1.5848039147399853, 1.9625702394671962),
 'mean2': 0.8790660203085914    (0.8227817437383838, 0.9609911485440933),
 'std2': 0.941324731952378    (0.7644841817352321, 1.1234217969738713),
 'min2': 0.45563089175924726    (0.42775559468909186, 0.4926604454857315),
 'max2': 1.0190763610408906    (0.8269910710942692, 1.2318853716873872),
 '1stquart2': 0.5146670760435631    (0.487229591633232, 0.5536104096558843),
 'median2': 9.515445066931841    (8.322276095020134, 10.830357763918876),
 '3rdquart2': 0.0    (0.0, 0.0),
 'mean3': 2.939615984418221    (2.7875816933480735, 3.1353609498665684),
 'std3': 0.0    (0.0, 0.0),
 'min3': 6.0891065514606755    (4.698224170984648, 7.769562791118459),
 'max3': 0.045576965827593074    (0.013124961748951336, 0.09115393165518615),
 '1stquart3': 4.36932238296287    (3.4625852068358904, 5.428438248793931),
 'median3': 5.033881679163114    (4.691783146220933, 5.482201813724049),
 '3rdquart3': 4.8473579111726695    (4.26861830359226, 5.552589533664236),
 'mean4': 2.171183073234498    (1.9909559299218578, 2.3761313857750554),
 'std4': 5.708524426106138    (4.883822646200812, 6.70460950699661),
 'min4': 2.50456803477282    (2.262003249328587, 2.7736854500112984),
 'max4': 6.118526249454473    (5.636507180744402, 6.6967552539189645),
 '1stquart4': 0.9409936333203218    (0.8528333036810292, 1.061712271310558),
 'median4': 4.196608356067418    (3.7086644857399067, 4.785231108859373),
 '3rdquart4': 0.8388126951078968    (0.7920262191379094, 0.9068868127149743),
 'mean5': 6.061727225339022    (4.950100346632909, 7.3707032728138415),
 'std5': 0.7542613652413971    (0.705030999021952, 0.8225669748112225),
 'min5': 5.409056425357996    (4.851556291186857, 6.056249322494966),
 'max5': 1.4041971241720508    (1.273569683383405, 1.583355839495207),
 '1stquart5': 4.013396722341803    (3.517344813276086, 4.620829491138215),
 'median5': 1.139058054228987    (1.0830742606363841, 1.2322335092193752),
 '3rdquart5': 5.780655201421557    (4.721054438420895, 7.075197951954741),
 'mean6': 1.080283538057551    (1.0192816497394621, 1.1727500734058869),
 'std6': 5.109642753365408    (4.403590974693249, 5.904377913061929),
 'min6': 2.113156527737114    (1.9449827534328619, 2.3419687985772994),
 'max6': 4.147584925853614    (3.635274567315051, 4.753081183833416),
 '1stquart6': 1.5437524373035934    (1.4703916008975146, 1.6627946846162391),
 'median6': 5.5002182038297756    (4.474909072896368, 6.659467991255203),
 '3rdquart6': 1.514917579004774    (1.4380943877762609, 1.6375198835459077)}

# iv

In [43]:
# I want to choose mean, median, standard deviation

# ISLR 3.7.4

In [44]:
#a.
# because the true relationship between X and Y is linear, 
# I think the least squares line is close to the true regression line, 
# the RSS for the linear regression may be lower than for the cubic regression

In [45]:
# b.
# We can not make the decision, the test RSS depends on test data

In [46]:
# c. Polynomial regression is lower, because of the higher flexibility.

In [47]:
# d. There is not enough information.If it is closer to cubic than linear,
# the cubic regression test RSS  may be lower than the linear regression.